[2017-10-30 17:49] cmplstofB opened #3 "Add support for the XDG Base Directory Specification"
According to [XDG Base Directory Specification](https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html "freedesktop.org") by freedesktop.org, user configuration files for FVWM3 ought to be stored under `$XDG_CONFIG_HOME/fvwm3` directory. (e.g. `~/.config/fvwm3/config.fvwm`)

Currently, the default configuration files are stored under `~/.fvwm` directory, and FVWM3 does not recogni

[2017-10-30 18:06] ThomasAdam commented on #3
Thank you. But, no. Symlink this if you need it.

[2017-10-30 18:06] #3 closed

[2019-05-23 12:26] nsklaus opened #4 "feature request: global menu support"
i'm openning this feature request following a talk on \#fvwm channel, to discuss the feasibility of adding global menu support on fvwm3.

## what are globalmenu / appmenu:
"it's a menu exported out of an application window via DBus and placed instead on a desktop panel. "

## implementation:
among the ideas that were discussed in the channel, it was expressed that perhaps it "could be implemented

[2019-05-23 14:03] ThomasAdam commented on #4
Moved to TODO.  Thanks.

[2019-05-23 14:03] #4 closed

[2019-05-23 21:19] nsklaus commented on #4
maybe i'm not looking at the right file, i can't find it in the todo [here](https://github.com/fvwmorg/fvwm3/blob/master/dev-docs/TODO.md) ?

[2019-05-23 21:27] ThomasAdam commented on #4
It's there -- just didn't push the branch out.  Now I have.

[2019-05-24 04:59] nsklaus commented on #4
i understand better, thank you for telling.

[2019-08-12 13:02] io7m opened #5 "Zero-size malloc on ta/randr branch"
Hello.

The attached config file will result in an `fvwm3: malloc: zero size.` error and abnormal exit.

[config.txt](https://github.com/fvwmorg/fvwm3/files/3492459/config.txt)

[code]

The existing FVWM 2.6.8 release prints a warning but continues running.

[2019-08-12 13:02] io7m commented on #5
[code]

[2020-01-03 01:16] ThomasAdam commented on #5
I believe this to be fixed on master now.  Please can you try that for me?

[2020-01-04 22:19] #5 closed

[2020-01-05 18:17] domichel opened #8 "fvwm3 test result"
fvwm3 is installedd on my gentoo system with the following configuration:

[code]
When started with its default config and startx, I get:

[code]
The backgroung image and the menu are working, but I get no banner and no button.

When replacing fvwm by fvwm3 in fvwm-crystal and using startx:
[code]

[2020-01-05 18:35] ThomasAdam commented on #8
Hi,

So, not compiled with `libpng` which explains some of the errors below.

FvwmBanner was removed by me in fvwm3, so that no longer exists.  Use feh(1) or some other external tool to do the same thing.

[code]

Normal -- you only have one screen, it seems.

Button to what?  Which button?

`FvwmCommand` has gone from FVWM3 for now.  I might add it back in temporarily until it's replaced along wi

[2020-01-05 18:45] domichel commented on #8
Fvwm-Crystal look nice. This is the devel version. With the Custom recipe which contain one main button, the main button is shifted vertically outside of the screen, when its place is correct with fvwm2. The config of that button is in the file.
[CustomButtonBar.txt](https://github.com/fvwmorg/fvwm3/files/4023778/CustomButtonBar.txt)
It is loaded with a Read command.

FvwmIdent give:

[code]
The b

[2020-01-05 18:51] ThomasAdam commented on #8
Hi,

Right -- this is because we don't translate XGeometry specifications to the global screen any more.  This is going to be tricky to get right, and although you could argue it's a bug, I'm going to say that it's better (and less ambiguous) to now force the exact geometry, as you've done so.

[2020-01-05 18:59] domichel commented on #8
Yes, Hi!

Yes, I see that.

The button I get on the right with fvwm2 and the same fvwm default config.
Can it be because I configured fvwm3 with
`--configure --prefix=/usr/local --enable-package-subdirs `
and made the installation with
`make prefix="/usr/local" exec_prefix="/usr/local" libdir="/usr/local/lib" datarootdir="/usr/local/share" install`

Yes.

You are welcome!

[2020-01-05 19:06] domichel commented on #8
Hi!

It doesn't matter. It is a shell script which generate that magic button. Magic because the user can choose what he want into it and prefs like its placement from its menu, and the button is generated and reloaded on the fly.
It is just to make one more subtraction in the script to get it right for both fvwm2 and 3.

Thanks for your time!

[2020-01-05 19:17] domichel commented on #8
Screenshot of fvwm3 running fvwm-crystal. We can see 2 buttons, the left one with some desktop icons, they are file managers launchers. The bottom one with its preference menu give a contemporary look and feel.
![Capture_écran-20200105_201007](https://user-images.githubusercontent.com/678325/71784794-cbbfe580-2ff7-11ea-80fd-b3997619ab04.png)

[2020-01-06 18:42] domichel opened #9 "fvwm-menu-desktop is wrong when converting multiple image files."
When an original icon contain several images, convert in fvwm-menu-desktop is converting all the images and rename them into "filename-n.png", where n is the number of the image into the original file.

The result is a broken resulting menu because fvwm look for filename.png.

To reproduce it, I find 2 icons in my system, the ones from doxbox and xmahjongg. Otherwise any animated gif will do it.

[2020-01-06 19:41] ThomasAdam commented on #8
Thanks!  I'll close this for now -- if you have any other observations, please feel free to open.

[2020-01-06 19:41] #8 closed

[2020-01-07 14:25] domichel commented on #9
Fix this issue https://github.com/fvwmorg/fvwm3/pull/11

[2020-01-08 01:02] #9 closed

[2020-01-08 15:00] jmacloue opened #18 "Vim/Gtk3 crashes with BadMatch after Alt-Tabbing to a different desktop"
Possibly related to fvwmorg/fvwm#59

I'm using Slackware64-current, FVWM 2.6.9 and Vim 8.2.0050 - both sufficiently recent though not the bleeding edge. FVWM configured with 4 desktops with 2x2 screens.

gVim is built with Gtk3 GUI and works as expected most of the time - until I try to Alt-Tab to another desktop **and** WindowList is drawn over gVim window. The xscope output is as follows:

[code

[2020-01-10 14:37] sweptr opened #12 "No .desktop file generated from make install"
Did `./configure`  `make` `sudo make install`
logged out to lightdm. No new fvwm3 session.
`ls -la /usr/local/xessions` gives  no fvwm3.desktop. Copied and renamed fvwm2.desktop to fvwm3.desktop. Edited some of the contents in that file.
Did sudo killall Xorg to force reload of lightdm. Problem solved.

`uname -a
Linux macbookserver 5.0.0-38-generic #41-Ubuntu SMP Tue Dec 3 00:27:35 UTC 2019 x86_6

[2020-01-10 19:25] ThomasAdam commented on #12
Thanks -- I looked in to this, and it seems Debian generate this file; presumably other OSes do as well.  It's currently not part of FVWM3 -- I'd happily accept a patch to add/install such a file, assuming it followed the Freedesktop guidelines.

[2020-01-12 17:38] MasterP-theGu opened #13 "Compiler warnings in ta/desktops"
I guess you can live with the German version of the standard parts of the message...

[code]
[code]

[code]
If it's related: the version that is made with these messages starts nicely, but neither FvwmButtons on its own nor the RightPanel work - components seem to start, but are immediately lost.

[2020-01-12 17:41] MasterP-theGu opened #14 "Logs of starting - closing fvwm3 with DesktopConfiguration set"
[fvwm3_default-config_per-monitor.log](https://github.com/fvwmorg/fvwm3/files/4050897/fvwm3_default-config_per-monitor.log)
[fvwm3_default-config_unchanged.log](https://github.com/fvwmorg/fvwm3/files/4050898/fvwm3_default-config_unchanged.log)

In both cases, fvwm3 starts nicely and I haven't run into problems yet. But the RightPanel does not start. During startup, I can see in the top left corner

[2020-01-12 17:49] ThomasAdam commented on #13
Thanks -- apart from the warnings in `FvwmPager` the rest will be fixed in time.

[2020-01-12 17:55] ThomasAdam commented on #14
Which part isn't loading?  For me, the right panel loads...

![show](https://user-images.githubusercontent.com/101281/72223262-bd784900-3564-11ea-9e44-07f17608fac3.png)

[2020-01-12 20:29] NsCDE opened #15 "Segmentation fault while turning off display port cable and mouse pointer is positioned on the monitor which is going off"
Hello!

As per request on fvwm@fvwm.org, I have compiled (with -g) fvwm3 and tried things what Thomas said it would be nice to try.

There are glitches (described in separate issues), but the main one is this from the subject: if I enable secondary monitor, either before login or with "xrandr --output eDP1 --mode 1920x1080 --primary --output DP1 --mode 2560x1440 --right-of eDP1 --noprimary" I can

[2020-01-12 22:20] ThomasAdam commented on #14
Thanks.  This looks to be a problem in `libs/FScreen.c:FScreenParseGeometry()` -- I'll investigate and will let you know when I've got a patch.

[2020-01-12 22:24] ThomasAdam commented on #15
Hello,

Thank you for your bug report.  Can you please try and reproduce this on the `ta/desktops` branch, please?  I've made a number of different changes there which aren't yet on `master`.

From my limited testing based on your report, turning off the *active* screen with xrandr which also contains the mouse pointer, doesn't crash `fvwm3`, and indeed, unlike the code on `master` at the moment,

[2020-01-13 01:10] NsCDE commented on #15
Hello Thomas,

Branch ta/desktops indeed does not reproduce this bug. I can left pointer on monitor which is going to be shut off and nothing happens, but windows from dead output are not moved to active one. They wait there and when I turn monitor back, they are here.

Maybe (on the end product) there should be some builtin fvwmfunc for that situation, but which can be overriden by user in config

[2020-01-13 01:24] NsCDE opened #16 "X windows started on newly defined monitor doesn't accept focus"
It was said on the fvwm list that after turning new monitor everything should work without restart of fvwm3, but ...

Either windows moved (with mouse) from primary monitor to the new one, or started there, most of them doesn't have a keyboard/mouse focus. I can move them around, but that's it. Strangely, gvim doesn't have this problem, while Okular (Qt PDF viewer) even doesn't show drop down menu

[2020-01-13 02:02] ThomasAdam commented on #15
@NsCDE The problem with having a function is it has the ability to really get confusing. I'll look into it. Thanks!

[2020-01-13 02:04] ThomasAdam commented on #16
Hi,

Yes, I've sometimes seen this but have had trouble reproducing it. Your observations will help, thanks!

Is there anything printed to stderr which might help?

[2020-01-13 07:06] NsCDE commented on #16
Of course. I have repeated all now and watched stderr.

Notice: happens for sure on the fresh Xorg process after initial login. Maybe you can reproduce this in that way. For mate-terminal and xterm, it is like that. Gvim works even without Restart. Strange.

1. When I physically plug in DisplayPort cable of the DP1 monitor:

Monitor: eDP1 (PRIMARY) (x: 0, y: 0, w: 1920, h: 1080)
monitor_create_ran

[2020-01-13 09:48] ThomasAdam commented on #13
I've now fixed this on 'ta/desktops' for the FvwmPager-related warnings.

[2020-01-13 10:06] ThomasAdam commented on #16
Thanks -- I'll take a look later.

In your config, are you using any `StartsOnScreen` styles?

[2020-01-13 10:22] NsCDE commented on #16
Indeed. It is defined among other options in default (*) Style with "c" option.

StartsOnScreen c

[2020-01-13 10:37] ThomasAdam opened #17 "Multiple Pages (3x3) and RandR is confusing and broken"
If `FVWM3` is configured with >1 monitor and the following configuration:

[code]

... and `FvwmPager` is started with the following, to match the number of configured desktops above:

[code]

Opening some terminals (xterms) will correctly assign those to the relevant screen and page.  *However*, `FvwmPager` has the ability to move windows around within the pager using `Alt + mouse button 3` to ot

[2020-01-13 10:39] ThomasAdam commented on #16
Right -- this won't work now.  Previously, `'c'` meant the current monitor with the mouse pointer.  Try changing all of those to: `PositionPlacement UnderMouse`.

[2020-01-13 13:28] NsCDE commented on #16
Ok, removed StartsOnScreen while testing fvwm3.

If your intention was to inspect if behaviour described in this issue will gone if I remove this option, I have tested fvwm3 ta/desktops again without StartsOnScreen and strange focus behaviour remains until fvwm3 Restart from menu/console/etc ... after restart, everything is ok - every time I tested.

[2020-01-13 13:33] ThomasAdam commented on #16
Not at all -- your observations are valid and correct.  I was more informing you about an incompatability from fvwm2 which isn't going to work in fvwm3, hence the suggestion on how to fix that.  It doesn't impact or have anything to do with the focus problems you've described.  :)

[2020-01-13 15:11] NsCDE opened #19 "DesktopConfiguration per-monitor segmentation fault in certain repeatable conditions"
Hello again,

Version: ta/desktops

If secondary monitor is plugged off and I log in via XDM, plug new monitor and then issue the command:

xrandr --output eDP1 --mode 1920x1080 --primary --output DP1 --mode 2560x1440 --right-of eDP1 --noprimary

fvwm3 crashes (trace on the bottom).

When it **doesn't** crashes:
- when DesktopConfiguration is "global" and than changed to per-monitor via FvwmConsol

[2020-01-13 15:32] ThomasAdam commented on #19
Hi,

Thanks again -- you're getting good at filing these reports!

Just to confirm when this crash happens, had you changed `DesktopConfiguration` at all?

Can you have another look at your corefile, but this time do:

[code]

I'm presuming that `m->Desktops` is NULL which would explain the crash, since `m` looks like a valid pointer.

With respect to the changing of `DesktopSize`, yes, I know abo

[2020-01-13 15:52] NsCDE commented on #19
I have to. I'm using FVWM from 2006 or 2007 or so! :)

DesktopConfiguration was not present at all. I have logged on the console and added it in the configuration, then get back at XDM login screen, logged in, plugged monitor in and only then, when I issue xrandr command in X terminal, the same second, I'm logged out and core dump is created. If I put "global" instead of "per-monitor" it doesn't d

[2020-01-14 00:14] NsCDE commented on #19
FYI, I have tried setting DesktopConfiguration after desktop names. It doesn't help.

I was able to reproduce this on another system: Fedora 31 in KVM virtual environment. Multihead support in spice/kvm works nice with remote-viewer and now I can debug without logging in/out with test users on hardware. Much faster and flexible.

Virtual-0 and Virtual-1 are behaving exactly the same as my physical

[2020-01-14 08:51] NsCDE commented on #17
Hello Thomas,

I have put DesktopConfiguration per-monitor, avoided bug #19 and tried to figure out how is this even meant to work. In short, please provide some explanation or documentation draft. I have read doc/commands/DesktopConfiguration.xml, and it has one sentence, and my experience things are very confusing in the present clone of the ta/desktops.

Observation: when pointer is on one scre

[2020-01-18 00:42] ThomasAdam commented on #16
Hi,

Please can you:

[code]

and retest.  I've changed how FVWM is tracking RandR event subtypes, so I'm hoping this situation fixes this issue.

[2020-01-18 08:01] NsCDE commented on #16
Hi Thomas,

Segfaults the same moment I turn on secondary screen with xrandr --right-of ...

Core was generated by `/opt/fvwm3/bin/fvwm3 -f /opt/NsCDE/config/NsCDE-Main.conf'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x000000000047cfa2 in EWMH_SetDesktopNames (m=0x1cb8040) at ewmh_names.c:285
285		d = m->Desktops->next;

(gdb) bt
#0  0x000000000047cfa2 in EWMH_SetDesktopName

[2020-01-18 10:49] ThomasAdam commented on #16
Hmm, I'm still unable to reproduce this after my latest commit.

Can you please set:

[code]

At the top of your `.fvwm2rc` file (or whichever config you use), and watch STDERR again when the problem happens.  I'm also assuming that `m->Desktops` is `NULL` (rather than `m->Desktops->next`).  I  suspect I'm missing some configuration point - so if you could also point me at your config(s) so I can

[2020-01-18 14:52] NsCDE commented on #16
I didn't know for that BugOpts option. I have put it directly before any other directive.

No need thank me, I'm a great fun of FVWM and I'm glad if I can help. If you need some testing or similar, just ask, no problem.

About configuration: I'm using FVWM as a framework for my diabolic project of modern CDE-ish desktop called NsCDE (Not so Common Desktop Environment). All FVWM configuration is in

[2020-01-18 16:25] NsCDE commented on #16
I'm adding video instructions of how to reproduce this bug.

View->Display 2 is equivalent of hardware monitor connecting with cable

https://www.youtube.com/watch?v=pbZInippBpc

[2020-01-19 10:07] NsCDE commented on #16
**Update**:

I was able to reproduce this with vanilla FVWM configuration.

If spice-vdagent is turned on, it presents 3 more additional virtual screens to the Xorg and driver. If FVWM is started with all but first screen off and then second screen is plugged on, it is blank until I enable it with xrandr from xterm. FVWM background is visible for a part of a second on new screen, and then sigsegv

[2020-01-20 01:15] ThomasAdam commented on #16
Hi,

Perfect.  I have now spent wayyyy too long understanding what's happening.

`FVWM` looks at the rectangle per page when deciding if `InputFocus` should be given.  The problem here is that when `RandR` tells `FVWM` that it has a new monitor to deal with, then two things happens:

1. `FVWM` scans the new monitor and adds it to the list, with the appropriate coordinates;
2. `FVWM` will then inst

[2020-01-20 13:19] NsCDE commented on #16
Hi,

I have checked out **ta/desktops** but it is the same as 2 days ago, which I tested during the weekend. You probably meant to checkout **ta/fix-gh-16** from 770aab7 right?

It doesn't segfault anymore on new monitor plug + xrandr. Focus on the new screen is working ok without Restart. So you did it on this bug. Interesting part of the stderr output (see below). But, as you said, there is more

[2020-01-20 13:38] ThomasAdam commented on #16
Yes, sorry.  All of this work is happening on `ta/fix-gh-16` for now, until I can tidy it up and commit that, *and* outstanding work on `ta/desktops`, but `ta/fix-gh-16` is based from `ta/desktops` anyway.

:). I realised this morning it was ambiguous.

Good -- and thanks.

But, as you said, there is more bugs here. So my observations are further this:

Interesting.  I've not seen this yet, and I'

[2020-01-20 14:17] ThomasAdam commented on #16
Hi,

I've just pushed an additional fix (120a22577746d16025790daee9f07a318c18844b) which might help with areas of the screen still not being able to focus windows -- do please:

[code]

make and build as usual, and try again.  This removes a `memcpy` call which would have overwritten `virtual_scr` information when switching desks.

[2020-01-20 14:48] NsCDE commented on #16
HEAD is now at 120a2257 WIP: RandR: track subtypes for outputs

At DesktopSize 1x1: MUCH more consistent, Except Scroll 100 goes some noware, even at 1x1.
I will test 3x3 and all details in the evening (central Europe time). No time now ...

BTW, about xrefresh need when turning screen off/on:
https://youtu.be/eeazHqdlLdk

[2020-01-20 18:28] NsCDE commented on #16
At DesktopSize 3x3 wherever I go or move, "Echo $[page.nx] $[page.ny]" is always 0 0. With one screen or two screens. After I jump myself with "GotoPage 1 1" I'm still at 0 0, but terminal window is not there anymore. If I try to go back at 0 0, terminal is still not there. It is accessible only through WindowList, and repositioned at left top corner.

At DesktopSize 1x1, while walking through des

[2020-01-20 19:38] ThomasAdam commented on #16
Ooh nice!

Two things to note here (more detail in commit message (ea81cc123fdb2630a832aaf1642b71c8853948a1)):

1.  When expanding variables, don't assume `fw->m` as `fw` is not guaranteed to be present or a valid context to reference a monitor from.
2. When handling pages/desks, copy over the changed monitor values to all other monitors.  This should now expand variables such as `$[page.nx]` and

[2020-01-20 22:07] NsCDE commented on #16
Hi,

- desk.nameX variable access looks fixed

- page.nx and page.ny are expanded ok now according to stderr

- `$[screen]` is still unexpanded, it should be nice if `$[screen]` and `$[pointer.screen]` contains numerical values as in 2.6.X, because they are expected as such (things can break if "DP2" is presented to some PipeRead for `$(($[pointer.screen] + 1))` instead od "2". Maybe `$[pointer.sc

[2020-01-20 23:39] ThomasAdam commented on #16
Hello,

Good.

Good.

Yeah -- it's something to consider.  I'll add it to the TODO list, but at least there's a mechanism for ascertaining the RandR output.  I probably made `$[screen]` a NOP when `RandR` is enabled for backwards compatibility with FVWM2, but that's less of a concern.

This is related to #17 -- essentially, to work out which monitor a given window is on, we're only comparing the p

[2020-01-21 10:26] NsCDE commented on #16
Ok, looks like #19 is solved by activities on this (#16) issue, and problems with window/page addressing in per-monitor conditions can be continued on #17 right. This #16 also looks as solved.
during the day, I will put "on paper" some throughts about #17 and wrote something. Maybe it can help to solve this screen/desk/page puzzle.

[2020-01-21 11:21] ThomasAdam commented on #17
I think I've managed to fix this with commit:  53cba919366b02871c2268b5131ebee06d98f4c9

Please give this a try.  This is still on the `ta/fix/gh-16` branch -- I'll keep using that branch, and if this works correctly, will make this issue in the commit message so we can track it better.

[2020-01-21 11:26] #16 closed

[2020-01-21 11:26] #19 closed

[2020-01-21 14:51] ThomasAdam commented on #17
@NsCDE - Thanks!

The reason why strange things happen on `Restart`, is because we recapture the windows, and write their state into a temporary file which FVWM then reads in. But at that point, FVWM doesn't understand anything about monitors.

Would you mind opening a separate issue with regards to the `Restart` bug?

Thanks.

[2020-01-21 14:54] NsCDE commented on #17
Ok, we will open separate one. But at the evening when I make detailed tests. Now there is too much noise at work around me and human error or wrongly transferred observation risk is high. :)

[2020-01-21 14:59] NsCDE opened #20 "Position of windows on screens, desks and pages is not accurate after FVWM 3 Restart"
As subject tells.

Preliminary observation:
I have found windows from Virtual-0 on Virtual-1 (When 1 0 is selected on Virtual-0, 1 1 from Virtual-0 was visible on Virtual-1) after 'Restart'.

According to conversation on #17 state from temporary file is read by FVWM on restart, but at that point, FVWM doesn't understand anything about monitors.

I will make more detailed tests later ...

[2020-01-21 15:02] ThomasAdam commented on #17
Closing this per: d1f2678b226c24b08b71cadfdf9e0e335a83a96c which fixes this issue.  Will reword the commit message later on.

[2020-01-21 15:02] #17 closed

[2020-01-21 15:03] ThomasAdam commented on #15
This has been fixed on `ta/fix-gh-16` -- unclear which change as there were a number of little changes which will have fixed this.  Will reference this issue in the commit message when reordered and merged to `master`.

[2020-01-21 15:03] #15 closed

[2020-01-21 20:08] NsCDE commented on #20
I have compiled this last one and tested:

I'm afraid that we have some regression here. With 2x2 DesktopSize, after opening window of each page, and going back to 0 0, on secondary screen Virtual-1, window from page "1 0" is visible, and when that page/window is selected on Virtual-0, on Virtual-1 "1 1" page is visible. Consistent on all desks.

Video: https://youtu.be/154CtQpZcsg

About restart:

[2020-01-22 09:58] NsCDE commented on #20
**Notice**: in fvwm-func-test-scr-dsk-page.txt "Virtual-0" should be replaced with $[pointer.screen]. My omission. Luckily, this doesn't change result of my testing (see video), because pointer has been on screen Virtual-0. I repeated tests and it shows the same output.

Looks like "left side" of the pages is reproduced on another screen.

**Notice 2**: When testing with pointer on another screen,

[2020-01-22 10:07] ThomasAdam commented on #20
Hi,

Thanks -- I'm going to take a look at this now.  The function you wrote is really useful for testing, so I'll be using that!

[2020-01-23 21:45] ThomasAdam commented on #20
Right...

Please can you take a look at the commit (6f78ec7) which I've just pushed to `ta/fix-gh-20`, please?  I think I've addressed the problem of moving windows (the WIP of getting windows/pages in the correct position after a reboot is still something I'm working on).

I've tested this only lightly, so please do give it your usual rigorous testing!

Thanks.

[2020-01-23 23:30] NsCDE commented on #20
Hi Thomas,

There are no xterms from screen 0 on 1 and vice versa, but now we have another interesting situation: static information for pages and dynamic ($[page.nxy]) are out of sync. Somehow, page number 2 find it's place in DesktopSize 2x2 configuration, shift of static and dynamic information is not the same on Virtual-0 and Virtual-1.

Attachment 1: f_TestSDP FVWM function that I used: revis

[2020-01-23 23:31] ThomasAdam commented on #20
I also think I've fixed the restart issue -- can you check that as well?

I'll take a look at the page offset problem.

[2020-01-23 23:42] NsCDE commented on #20
Restart: nope, not yet. All xterms are concentrated on desk 0, pages 0 0.

[2020-01-23 23:46] ThomasAdam commented on #20
Really?  That's weird; restarts are working fine for me.  Can you take a screencast?

[2020-01-23 23:55] ThomasAdam commented on #20
OK, please try again -- I've squashed in a fix for reporting the correct pages for `$[page.nx] $[page.ny]`.  Just in case, please update as:

[code]

[2020-01-24 00:17] NsCDE commented on #20
Page indicators are now back in sync.
I'm producing screencast for Restart ...

[2020-01-24 00:21] ThomasAdam commented on #20
Thanks -- looking forward to watching that.  Just to recap then:

1.  Restarts are still broken -- *will fix*
2. Page indicators are now fixed;
3. `GotoPage` with `DesktopConfiguration per-monitor` is fixed?

What about:

* `DesktopConfiguation global`?  Is that doing the same thing across all monitors?
* What happens if you add an additional monitor while `fvwm` is running?  Do things continue to

[2020-01-24 00:54] NsCDE commented on #20
1. Here is the screencast for restart after all desks and pages are filled with xterms with usual info: https://youtu.be/FzHkJg0WieY

Actually, while checking for your point 3, I have found that I have 64 xterms opened instead od 32. Looks like Restart is half working, because on other pages there are initial xterms which are belonging there according to info text in them. It just happens that on

[2020-01-24 06:24] NsCDE commented on #20
**For a DesktopConfiguration global:**

**Case monitor added during FVWM session:**
It behaves correctly for screen 0, but but if windows from the screen 0 are left opened, test on screen 1 passes ok for desk 0, but when moving to desk 1, suddenly like there is no "Wait" in a function, it starts to open all xterms on the first screen to the end of function.

**Case second monitor exists during log

[2020-01-24 07:43] NsCDE commented on #20
Let me sumarize my last two posts:

1. Only accurate thing presently for me is DesktopConfiguration per-monitor when secondary screen is turned on and configured during active FVWM3 session. If second screen is active prior to FVWM3 start, page shift described above occurs.

2. For DesktopConfiguration global, both prior and after FVWM3 monitor states are currently inaccurate, as described above -

[2020-01-24 08:15] ThomasAdam commented on #20
OK. I'll concentrate on the restart issues for now. Thanks!

[2020-01-28 15:16] ThomasAdam commented on #20
Hi @NsCDE,

Please can you update your repository:

[code]

... and try again?  I've tested with your scripts, and things seem to be working correctly now.  I've tried with both `global` and `per-desktop`.  There's a lot of moving parts here though, so I'm assuming I'll have broken something else along the way.  :)

[2020-01-28 18:02] NsCDE commented on #20
Hi Thomas,

Ok, situation is this:

- Positions of windows (test: xterms) on screen on restart are now correct. There is no duplication nor inconsistencies. Looks like we can move to some other issue, since subject of #20 looks like fixed, but this other issues below should be then continued someware. Should I open new issue?

- f_TestSDP works ok in one screen mode, in two screens mode it is work

[2020-01-28 18:42] ThomasAdam commented on #20
Hi @NsCDE,

Cool. Plesee open separate issues for your other observations, and I really appreciate your scripts, so any minimal configs I can use would really help me.

What I'll do is merge the changes to master and go from there.

[2020-01-28 18:43] ThomasAdam commented on #20
As for FvwmPager, I'm well aware of that. :-)

[2020-01-28 19:38] #20 closed

[2020-01-28 19:40] ThomasAdam opened #22 "FvwmPager is broken with RandR"
With the RandR changes, FvwmPager (and other modules) won't be able to access the `monitor_q` information directly.  Instead, new Broadcast packets must be created to allow modules to listen when RandR events change.

[2020-01-28 23:04] NsCDE opened #23 "Page navigation and selection is incorrect after FVWM3 restart/start while two screens are enabled"
Continuation from #20 ...

Testing function f_TestSDP works ok in one screen mode, in two screens mode it is working ok if second screen is added during FVWM3 session with xrandr, but if FVWM3 is restarted (or logout + login with secondary screen on), pages are still shifted: after f_TestSDP, on "0 0" there is nothing. On "0 1" tthere is "0 0", on "1 0" there is "0 1", and on "1 1" there is "1 0"

[2020-01-28 23:18] NsCDE opened #24 "In global DesktopConfiguration mode, Wait XTerm fails after changing current desk from 0 0 to 0 1"
While testing with f_TestSDP in "DesktopConfiguration global" mode, everything works on 1st screen. On second screen it works until desk is changed. In that moment pages "0 0", "0 1", "1 0" are omitted by Wait, and all 4 xterms are concentrated on page "1 1".

Notice: I have tested with only with desks 0 and 1, 2 and 3 were commented out for brevity.

- In per-monitor mode, this behaviour is not r

[2020-01-28 23:27] NsCDE opened #25 "FvwmBacker screen awareness in per-monitor DesktopConfiguration mode"
FvwmBacker in per-monitor mode should operate only on screen where pointer is located, and not applying background on other screen(s), where desk and page are not in sync across screens like in global mode.

At least when using Colorset or "-solid" as internal commands, or even possibly fvwm-root. It cannot be responsible for other program's handling of virtual screen geometry and coordinates of c

[2020-01-28 23:34] NsCDE opened #26 "Proposal: FvwmEvent new events in FVWM3"
As FvwmEvent handles new_page and new_desk window manager event, it will be nice to make RandR screen events acessible through it.

According to debug output, FVWM3 sees when monitor is added or removed, enabled or disabled, or when pointer changes active screen.

Proposal for exposing events is:

add_monitor
remove_monitor
enable_monitor
disable_monitor
change_screen

That way, user can configure

[2020-02-07 02:09] ThomasAdam commented on #24
Hi,

I've tried, but I can't seem to reproduce this.  If I set `DesktopConfiguration global`, with two monitors, and open `FvwmConsole` on the second monitor, and run the `f_TestSDP` function, then all windows open up on the appropriate desks and pages as I'd expect, and I can't see any problems with the `Wait` command.

This is tested on `master`.  What am I not doing correctly to reproduce this,

[2020-02-07 09:10] NsCDE commented on #24
Hi Thomas,

I belive this behaviour was introduced outside master, during this "ta/gh-20-2" session.

I have made video with this "xterm stampedo". To reproduce, conditions must be met: ta/gh-20-2, DesktopConfiguration global, abnd function finished on first screen with xterms left on place. If xterms on Virtual-0 are killed before running this on Virtual-1, bug will not be triggered. Beware of "p

[2020-02-07 09:14] ThomasAdam commented on #24
Hi,

Hmm, that's weird.  I'll take a look on that branch, thanks.  The video definitely helps.  :)

[2020-02-10 10:48] kevingnet opened #27 "Theme support that integrates with Gnome, KDE and GTK"
I've put together a package of files, tools including a config file (origin is mostly from the FVWM official site) which I've modified and it supports themes that extend to gtk, kde and gnome for a more uniform look.
https://github.com/kevingnet/fvwm_themed

[2020-02-10 18:50] ThomasAdam commented on #27
Hi,

Thanks for the link. What would you suggest I do with the link?

[2020-02-11 16:18] lgsobalvarro opened #28 "FvwmButtons on FVWM3"
If using only one monitor FvwmButtons is never placed, even if it's loaded manually via FvwmConsole. This issue is persistent with the default config and my custom. xsession-errors does not show anything unusual with FvwmButtons.

If using two monitors FvwmButtons is placed in the second screen, but FvwmButtons is not placed where it's supposed to be. Once again, this occurs with the default, and

[2020-02-11 18:47] ThomasAdam commented on #28
Hi,

I've heard of this. How is the geometry of FvwmButtons being specified? Can you dig around the configuration?

I suspect it's a relative geometry, in which case I'll have to take the origin output into consideration.

[2020-02-11 19:02] lgsobalvarro commented on #28
This is the only line on my cfg that is related to Geometry.

*FvwmButtons: ButtonGeometry 64x64-0+0

[2020-02-12 13:35] ThomasAdam opened #29 "test"
test

[2020-02-12 13:35] #29 closed

[2020-02-22 22:11] ThomasAdam opened #31 "msgpack as fvwm <-> modules <-> bindings communicator"
FVWM was written before any formal message parsing libraries existed.  Currently, the communication protocol that FVWM uses is a packed structure which is shoved down a pipe, which the receiving end has registered interest in by locking on to various messages which are sent.

Other libraries exist to abstract away this message construction, such as [msgpack](https://github.com/msgpack/msgpack-c) w

[2020-02-26 12:16] MasterP-theGu commented on #28
I'm testing on a RPI4 using Arch and think I can add info here.
I'm testing with the default config as well as my own version (which is still heavily based on the 'new' default)

Buttons are called with "*RightPanel: Geometry 120x$[vp.height]-0+0"

Same one-physical-screen-issue here, then the buttons are not displayed at all.
Dualhead issue here with a 1920x1080 as a primary and an old 1280x1024

[2020-02-26 12:45] MasterP-theGu opened #32 "conky can make fvwm3 go sloppy"
I usually put my conky onto the root window. In fvwm3 (desktops branch), the whole mouse-keyboard systems becomes very sloppy and slow as if it all happened inside a viscuous fluid.

Running conky with "own_window yes" resolves the problem, running it without the "own_window" config makes the problem.

I cannot see any differences in CPU or RAM use between the two config scenarios.
My fvwm backrou

[2020-03-01 18:01] MasterP-theGu opened #34 "Panframes: switching between desktops not reliable / broken"
Expected behaviour from fvwm2: mouse moved over /beyond the edge of desktop (left edge of left screen or right edge of right screen) switches desktop and is indicated in pager. Similarly top / bottom.

Behaviour in fvwm3 branch ta/desktops: top-bottom switch is only possible on main screen, left-right works on both screens. However, it's no longer reliable, sometimes it works, sometimes it doesn't

[2020-03-02 23:19] ThomasAdam commented on #34
Yes, this is to do with the use of `panframes` to detect `InputNotify` events to switch pages.  Having these per-monitor would make things really interesting and annoying.

[2020-03-02 23:41] ThomasAdam commented on #32
Hi Peter,

I cannot reproduce this, I'm afraid.  Can you attach your `.conkyrc` file?  For me, there's no sluggishness,

[2020-03-03 15:59] MasterP-theGu commented on #32
Hi Thomas,
here's my conky.conf:

`conky.config = {
    alignment = 'top_right',
    background = true,
    border_width = 1,
    cpu_avg_samples = 2,
    default_color = 'white',
    default_outline_color = 'white',
    default_shade_color = 'white',
    double_buffer = true,
    draw_borders = false,
    draw_graph_borders = true,
    draw_outline = false,
    draw_shades = false,
    extra_newl

[2020-03-03 16:00] MasterP-theGu commented on #34
:D I can see what you mean by "annoying". :D

[2020-03-04 12:25] ThomasAdam commented on #32
Hi Peter,

Still no luck, I'm afraid.  I'm wondering if it's your display driver?  I really can't see how this can be a FVWM problem, to be honest.  Are you using a style of `ParentialRelativity`?

[2020-03-04 12:39] ThomasAdam commented on #19
@NsCDE -- do you have any instructions on how to set up KVM/Spice?  I'm using both (Debian host & Debian VM), but despite having Spice in use, my VM only sees one monitor.  I can see under the 'Display' menu for the VM that I could select up to four monitors, but monitors 2 to 4 are all greyed out, and xrandr(1) from within the VM only shows on Virtual monitor.

Any thoughts?  According to the doc

[2020-03-04 13:02] NsCDE commented on #19
Hi Thomas

Check this 3 things:

1. Yes, I was having trouble too. My best guess is that XML for virtual machine defines only one head.

Try virsh edit <yourvm>, find video section and check number of heads. By default, virt-manager creates this with heads='1' which is then a problem.

    <video>
      <model type='qxl' ram='65536' vram='65536' vgamem='16384' heads='4' primary='yes'/>
      <addr

[2020-03-04 14:57] ThomasAdam commented on #19
Hmm -- thanks.  Still not working -- I can see four displays now (thanks to editing the XML), but only the first virtual monitor is active (`remote-viewer spice://localhost:5900`).  The other three monitors are listed but inactive.  I can't seem to enable them via xrandr(1) in the guest.

Looking at the XServer logs, the guest is using QXL.  `spice-vdagent` is running as a service on the guest.  T

[2020-03-04 16:01] NsCDE commented on #19
Inactive monitors on remote-viewer menu can indicate that either spice-vdagentd or spice-vdagent is not running.
Here is the situation on my FVWM3 test VM:

[code]
Daemon spice-vdagentd as a root service, spice-vdagent as graphically logged in user service.

Spice vdagent package version in Fedora 31 VM is 0.19.0, qemu-kvm on the CentOS 7  host is 1.5.3 ... just in case, but this should not make a

[2020-03-04 22:27] ThomasAdam commented on #19
Perfect. Thanks, @NsCDE this is working now.

[2020-03-06 20:18] MasterP-theGu commented on #32
Thomas,

I guess you're right about the display driver. It's one of the parameters that had changed with respect to my previous setup for fvwm2 and a single screen.
I had used the classic vc4 driver that I knew from my RPI3, but had to switch to V3D for RPI4. And it seems to be the V3D one that's causing the instability. With only conky running, everything seems fine, but the more windows I open,

[2020-03-06 20:19] ThomasAdam commented on #32
Peter,

Yep, that makes complete sense.  Let's close this issue for now!

[2020-03-06 20:19] #32 closed

[2020-03-08 16:58] MasterP-theGu commented on #34
In gh-22 branch, strangely enough, I can switch **upwards** from my primary screen.
All other mouse-swiches are impossible.

[2020-03-16 14:28] MasterP-theGu commented on #34
I know, this is a minor point, but I think I should leave some feedback here now that I have been using the gh-22 branch for some time now.
On my fvwm2-system, I have got used to starting windows _when_ever I need them and re-arrange them between the four pages of the desk as necessary. One such use case is that I usually have my main mail accounts open in three different instances of mutt on one

[2020-03-19 20:26] wyatt8740 opened #37 "Support lists of fonts (for falling back on)"
I was asked to create this issue on IRC after I brought it up there.

Quoting from the channel:

It'd be good to handle it so that in the event of a glyph that is not in the primary/preferred font, a list of the second, third, and fourth… etc. fonts can be 'fallen back' on to supply the given character.

Example (in my mind, just so you get the general idea):

The current way it works:
[code]
CJK

[2020-03-25 00:19] marksolaris opened #38 "FvwmPager divide by zero on startup - never appears"
Ubuntu 18.04 config, worked on 2.6.9
Upgraded to Ubuntu 19, FvwmPager stopped working.
Jumped to Ubuntu 20 just now, still not working

strace shows
[code]

[2020-03-25 00:23] ThomasAdam commented on #38
Hi,

Yes, it's a bug which is being largely fixed via #22 -- this is largely turning into a game of:  "How do we make pages work well when 'DesktopConfiguration per-monitor`?"

[2020-03-25 00:23] #38 closed

[2020-03-25 00:24] marksolaris commented on #38
Tried hunting for the problem with the latest updates for a few libraries whilst on Ubuntu 19, will remove those now I'm on Ubuntu 20 to test.
[code]

[2020-03-25 00:26] marksolaris commented on #38
Ah ok, so still tracking it on that. I saw it in a search but it didn't seem to match.

[2020-03-31 17:14] afhp-2020 opened #39 "StartsOnPage/StartsOnDesk ignored"
Hello,

Using a config file I am adapting and correcting from fvwm2, I came across a regression regarding forced window placement on a given desktop.
Configuration is explicitely declared global (but it makes no difference) :
`DesktopConfiguration global`

I do not use pages, and 4 desktops are defined:
[code]

Multimedia applications are set to open on Desktop 2:
[code]
(`StartsOnDesk 2` does no

[2020-03-31 17:16] ThomasAdam commented on #39
Hi,

Yes, you're right.   Probably related to #22.

[2020-03-31 18:15] afhp-2020 opened #40 "IconBox moves across screens"
The system has two randr screens, DVI-I-1 and DP-2. A single one-row iconbox was initially defined (under fvwm2):
[code]
This definition has been adapted for fvwm3:
[code]
The windows are iconized with a `Mouse` definition calling `Iconify`, and restored according to the function
[code]

Regardless of the above configuration, windows on DP-2 are always initially iconized according to the defined g

[2020-04-03 16:49] MasterP-theGu commented on #28
![console](https://user-images.githubusercontent.com/59801342/78385231-d3cdf800-75db-11ea-99eb-1b06d62428b4.jpg)

[2020-04-03 16:50] MasterP-theGu commented on #28
![fvwm3-gh22](https://user-images.githubusercontent.com/59801342/78385289-e8aa8b80-75db-11ea-9db5-1abff1ee4608.jpg)

[2020-04-03 16:51] MasterP-theGu commented on #28
![IMG_20200403_1847146](https://user-images.githubusercontent.com/59801342/78385411-198ac080-75dc-11ea-90a1-f15474a7e742.jpg)

[2020-04-03 16:54] MasterP-theGu commented on #28
I hope the pictures can show in how far the ta/gh-22 branch miscalculates the hight of the screen.
As you can see from the console picture, the calculation of the width of the screen seems to be identical with the one my machine (raspi 4, Archarm armv7h) uses internally.
Strangely enough, fvwm2 and as far as I can see the current build of the master branch calculate at least the hight correctly, i

[2020-04-03 17:53] lgsobalvarro commented on #28
Yes. That happens when you use two monitors with fvwm3. But I think this issue is actually related to #22, hence why it also affects the logout window. But I may be mistaken.

[2020-04-06 21:12] ThomasAdam commented on #28
Hi,

@lgsobalvarro and @MasterP-theGu -- I've just pushed a new fix for #22, can you test that to see if those changes also fix this problem?

Thanks!

[2020-04-06 21:15] ThomasAdam commented on #39
Can you retest this, please?  I've tested this with:

[code]

... and starting xeyes: `xeyes +shape` puts that window on Page 1 1, on my second screen (which is not considered the `active` screen; that is, my mouse pointer is on a different monitor) -- so this is working OK.

Please confirm.

[2020-04-06 21:22] ThomasAdam commented on #24
Hi,

@NsCDE -- hope you're well.  Can you check if this bug report is still valid, by using the latest commit on ta/gh-22?

[2020-04-06 23:40] lgsobalvarro commented on #28
Hi @ThomasAdam

No. The problem still persists at least for me. However I did notice a change.
1. I ran fvwm3, using only my main screen. FvwmButtons where nowhere to be seen.
2. Plugged my 2nd screen. and activated it via arandr. FvwmButtoms then was palced correctly on Screen 1.
3. I restarted fvwm3 so the wallpaper could fit correctly screen 2, and FvwmButtons where place incorrectly in a simil

[2020-04-07 12:47] afhp-2020 commented on #39
Hello,

Not yet entirely familiar with git ; did a `git pull origin ta/gh-22`, recompiled, reinstalled and restarted from display manager.
(Note: compiling and installing with make ; sudo make install on FreeBSD, compiles and installs without error. Thanks for keeping the code system- and make-agnostic.)

Testing with current configuration elements, as in `Style mpv StartsOnPage 2`, as well as var

[2020-04-07 16:09] hudmont opened #41 "Multiscreen support issue"
On branch ta-gh22, FVWM sometimes moves the windows to other virtual desktops instead of just going to the desktop.

At the same time, it also messes with the cursor's functions, and the user is unable to enter input or click on a window to set focus. It resembles the behaviour of FVWM when "IgnoreModifiers L2" is not set. Of course, I set that. Alt-Tab window switching solves the focus issue.

At

[2020-04-07 16:17] ThomasAdam commented on #41
Hi,

This is related to #22.

Can you send me a FVWM config which reproduces this issue?  I can see you're using `DesktopConfiguration global` and not `per-monitor` -- having just tried this myself, I can't reproduce the behaviour you're seeing.

I did push a few new changes to `ta/gh-22` last night, I presume you're running that?  HEAD commit is:  646c3da00b862e9cbf1525fb098921c9b8bbe6a4

[2020-04-07 16:36] hudmont commented on #41
I wasn't running the very latest version. I tried it  just now. GotoDeskAndPage doesn't work at all with this version. MoveToDesk works fine.
The debug output says:
monitor_by_name: couldn't find monitor: (0)

Fvwm config:
[config.txt](https://github.com/fvwmorg/fvwm3/files/4445876/config.txt)

Sxhkd config:
[sxhkd.txt](https://github.com/fvwmorg/fvwm3/files/4445892/sxhkd.txt)

Keyboard layout (NO

[2020-04-07 16:51] MasterP-theGu commented on #28
Sorry, I only came to my study now. Built the new #22 and ran it with a clean config.
The vertical issue is gone, screen hight is correctly calculated, Time and Date are visible, the quit-dialogue appears in the middle of the cumulative screen estate of my two screens.
The RightButtons, however, are still placed in the same wrong place as in my screenshots.
Before I unplug the second screen, I rea

[2020-04-07 20:14] NsCDE commented on #24
Hi Thomas,

Yeah, pretty much well. Working from home, in the same shit as the rest of the planet, plus calculating damage from nasty earthquake from 22. 3. 2020. for part of city works funds for repairs of the roof and one wall. At least optic cable from ISP is working well. :)

Let's go to business!

FvwmPager in gh-22 branch is working, altrough it is not aware of the geometry when second scree

[2020-04-07 20:45] ThomasAdam commented on #41
Hi,

Thanks.  The reason you see:  `monitor_by_name: couldn't find monitor: (0)` is because of how I'm tokenising the parameters to commands such as `GotoPage` and `GotoDeskAndPage`; I will tone this down, but it's unrelated to your problem.

On `ta/gh-22`, I've now fixed the parsing of `GotoDeskAndPage`.

Please try.

[2020-04-07 20:46] #41 closed

[2020-04-07 21:53] NsCDE commented on #24
EDIT: After Fvwm Restart (with my dialog) on video, you can see how Front Panel (FvwmButtons) ended up in top right corner and I manually (Ctrl+Esc) placed it back to the bottom center of the screent. Maybe this is related to the work on #28 described by other reporters.

[2020-04-10 22:05] ThomasAdam commented on #39
Hi @afhp-2020

Really fixed this time.  Please git pull on `ta/gh-22` as you've been doing and try again!

This is working for me:

`Style xeyes StartsOnDesk 4`

[2020-04-11 09:37] afhp-2020 commented on #39
Got lost in git merge so I re-cloned master and re-pulled ta/gh-22 again.

I am happy to report that the issue is fixed.

`Style xeyes StartsOnDesk <n>` issued at FvwmConsole, starting xeyes opens it on the specified desktop.
Similarly with existing `Style <application> StartsOnPage 2` in config file, specified applications open where expected.

[2020-04-11 12:45] #39 closed

[2020-04-11 12:53] ThomasAdam commented on #24
Hi @NsCDE,

Yes, this is weird.  I get slightly different behaviour with `Wait`, in that FVWM freezes, rather than what your video shows which is to forget about the `Wait` command entirely.

Can you attach the latest version of your script you're using for `f_TestSDP`, please?   Just to see if I get different behaviours?

Cheers,
Thomas

[2020-04-11 14:55] klebertarcisio opened #42 "Do we need to check the value returned from FCreateFImage?"
Hi everyone,

I would like to know if we need any verification after calling the FCreateFImage function. See the lines below that it can return a value that has already been released.

https://github.com/fvwmorg/fvwm3/blob/6213e5ebc76c43da667b4b13012c09aa83a58bb7/libs/FImage.c#L188-L193

See that in the code below there is a check on the value of out_fim

https://github.com/fvwmorg/fvwm3/blob/6213

[2020-04-11 14:59] ThomasAdam commented on #42
Hi,

Thank you.  Please open a pull-request against this issue, and I'll take a look at any code change you care to make.

Kindly,
Thomas

[2020-04-12 09:20] NsCDE commented on #24
Hi Thomas,

Attaching f_TestSDP used to create latest video **and** f_TestSDP2 which I created now and with which this bug is not triggered. Difference is: I'm calling xterm with **custom class** "`-name ID-$[desk.n]-$[page.nx]-$[page.ny]`" and Wait-ing for "`ID-$[desk.n]-$[page.nx]-$[page.ny]" instead of "XTerm`". So every xterm window gets it's unique resource name. In that case, function plays

[2020-04-12 12:25] ThomasAdam commented on #42
Kindly,
Thomas

[2020-04-12 12:25] #42 closed

[2020-04-12 13:20] ThomasAdam commented on #24
Hi @NsCDE,

The problem here is that without specifying a monitor, or knowing the destination of the window we're about to place on the screen, we don't know which monitor we should move the page for.

When you don't specify a monitor, the monitor with the cursor is assumed to be the target monitor.

On `ta/gh-22`, I have augmented the `GotoDesk` and `GotoDeskAndPage` commands to take a monitor na

[2020-04-13 07:33] NsCDE commented on #24
Thomas Adam wrote:

That's what I'm trying to tell you. Even if cursor is on the Virtual-1, window pops up on Virtual-0. Fvwm command "Echo $[pointer.screen]" correctly identifies screen on which cursor resides. Maybe we can move this as differenct / separate issue?

Good, but I will like to propose two things here:

1. Introduce new command for this kind of addressing. For example GotoDeskPageAnd

[2020-04-13 08:47] NsCDE commented on #24
Hi Thomas,

Important! New discovery:

After logging out and in, configuring second monitor again, this behaviour where all windows are put on Virtual-0 **stopped**.

This should be treated as a glitch, maybe some bad interaction with Xorg or some other fvwm3 bug which should be triggered again to be confirmed.

Nevertheless, problems with "Wait XTerm" in global DesktopConfiguration mode when goin

[2020-04-13 08:54] NsCDE opened #44 "FvwmPager segfaults on fvwm3 ta/gh-22"
While performing testing function for issue #24 I FvwmPager occasionally dies.

This is a permanent "local" pager with only current desk and pages view.
It's configuration can be found here:

https://github.com/NsCDE/NsCDE/blob/rc20_pending/NsCDE/config/NsCDE-Pager-LocalPager.conf

Backtrace:

[New LWP 1002252]
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/l

[2020-04-13 17:14] mkarmona opened #45 "DesktopSize 1x1 is not respected"
`DesktopSize 1x1` configuration is not respected and the mouse can still freely move on edges. My fvwm3 configuration is accessible [here](https://github.com/mkarmona/rc/blob/master/.fvwm/config#L148) and I am currently using _Fvwm3 master branch_.

[2020-04-13 17:56] ThomasAdam commented on #45
Hi,

Thanks.  Please use the `ta/gh-22` branch -- you might have more success there.  Let me know if you're still having problems.  I know it's not working correctly on `master` at the moment.

[2020-04-13 17:56] #45 closed

[2020-04-13 19:58] mkarmona commented on #45
@ThomasAdam , it is now working, thanks.

[2020-04-13 20:26] mkarmona opened #46 "The restart process does not restore custom window colorsets"
I do not use window titles so when I _stick_ a window I change its active and inactive colorsets to recognise it. The applied function is
[code]
After having some sticky windows working as expected I trigger the Fvwm restart action and the applied colorsets are not there anymore, sticky status keeps applied though.
1. Should I expect this to happen?
2. Is there a more appropriate way of implementi

[2020-04-13 20:49] ThomasAdam commented on #46
Hi,

WindowStyles don't persist across restarts. Suggest you use either FvwmEvent or InitialMapComnand style.

[2020-04-13 20:49] #46 closed

[2020-04-13 22:27] mkarmona opened #47 "FvwmEvent does not contain the event stick and destick"
Following previous [recommendations](https://github.com/fvwmorg/fvwm3/issues/46), I was unable [capturing](https://github.com/fvwmorg/fvwm3/blob/master/modules/FvwmEvent/FvwmEvent.c#L113) events of the type `stick`. I guess this can be unified with [another open issue](https://github.com/fvwmorg/fvwm3/issues/26).

[2020-04-13 22:38] ThomasAdam commented on #47
Yes you can.  When you change certain window properties, a `ConfigureWindow` packet is send to all modules.  You can use FvwmEvent and the `configure_window` directive to inspect the windows which changed as a result of this.

[2020-04-13 22:38] #47 closed

[2020-04-14 18:29] MasterP-theGu opened #49 "Ideas for new default config"
My primary screen is the left one and having the RightPanel in the left margin has made a lot of sense to me for quite a while. So I thought, others whose primary screen is the left one might have similar feelings. And as fvwm3 might want to come with a new/updated standard config, I thought we could have a collection of ideas for this fvwm3-standard-config here. As I can only start this from a us

[2020-04-19 21:21] ThomasAdam commented on #28
So... FvwmButtons in this case will start up on whichever screen has the mouse pointer, since that's how the calculation is performed.

Either way, I'm still finding FvwmButtons being placed on either right edge of the screen, and not in the middle of the screen, per your screenshots.

[2020-04-20 15:33] lgsobalvarro commented on #28
I think the issue is related to the fact that both screens have different resolutions. In my case:
Screen1: 1366x768
Screen2: 1920x1080

Posisbly fvwm/randr or whatever is assuming both screens have the same resolution (1920x1080) so, that's why FvwmButtons is misplaced.

[2020-04-21 14:29] MasterP-theGu commented on #28
I know it's silly to just repeat what someone else has already said or written, but it might make sense to confirm Igsobalvarro's obvervation. No matter which one is the primary screen, xrandr (like the console) takes the smallest / most narrow resolution to define where "+0+0" is.

[2020-04-21 21:53] leonhiem opened #50 "UI freeze"
Hi all,

I experienced a complete freeze 3 times already. Where the mouse pointer moves but everything else is frozen. Even the keyboard. An external ssh login and a kill operation is the only rescue.
It happened after a few days of runtime.

My setup is a Slackware64-current with fvwm3 (clone of April 13).
With fvwm2 I experienced this also, that's why I moved to fvwm3.

Video card is a: NVIDIA G

[2020-04-21 22:23] ThomasAdam commented on #50
Hi,

When this freezes next time, attach gdb to the running fvwm3 process and type:

`bt full`

Attach the output here.

[2020-04-22 12:48] leonhiem commented on #50
Ah, makes sense. I will do that. Thanks

I did notice last night that a reboot was the only way to get my screen working, so it could be a problem with the video driver.

I might also investigate why the screen refresh is so slow when moving a window. I'm not using any NVIDIA 3rd party driver, maybe that is why..

[2020-04-25 14:45] ThomasAdam commented on #50
@leonhiem -- given what you're saying there, about slow window refreshes, etc., it's definitely sounding like a graphics card driver issue.

I'll close this issue for now, but if you think it's still FVWM's problem, please do reopen it.

Thanks!

[2020-04-25 14:45] #50 closed

[2020-04-25 16:15] ThomasAdam commented on #24
Hi @NsCDE,

I hope you're well and sane!  Have you recovered (as much as one can in such circumstances) from the earthquake?  Bloody awful timing given how the world is having to deal with Coronavirus as well.  :/

I've pushed some further commits to `ta/gh-22` which I think helps the problems you were having where the `Wait` command seemed to be ignored.  This was happening because when a MapEven

[2020-04-26 23:07] ThomasAdam commented on #24
Hello,

So, in addition to what I put in https://github.com/fvwmorg/fvwm3/issues/24#issuecomment-619403252, the following other changes have happened:

* Removed deprecated `Recapture` and `RecaptureWindow` commands;
* Various changes to how windows are managed across restarts of FVWM3;
* Fixed page handling arguments, so that the correct monitor is referenced;
* Removed debug;

I've tested a few

[2020-04-27 16:00] NsCDE commented on #24
Hi Thomas,

There were some pros and cons in that having stongest earthquake in 140 years with corona quarantine. Many waiters preparing terraces in the old town center would be injured or dead from ornaments falling from the buildings, but since all this was closed just 3 days before the earthquaqe in all country, this was a lucky occurence. Only 1 person died and 20 were injured ... which is unb

[2020-04-27 16:06] NsCDE commented on #24
Hi Again,

I saw your next comment when I alredy send the past one. :) I have started to write it yesterday and didn't had a chance to finish it until few minutes ago.

Please see my findings. In the meantimem I'm going to fetch your new commits, recompile and test.

[2020-04-27 16:46] NsCDE commented on #24
In global ConfigurationMode page numbers are now totally correct. Perfect with no omission on all 4x4 pages! This solves not only fvwm3, but even older problem.

- In "Wait ID-$[desk.n]-$[page.nx]-$[page.ny]" with xterm -name <that dynamic name> Virtual-0 is filled as expected.

- Virtual-1 is not respected, everything ends up on Virtual-0, but I suspect this can be something with pointer grabbing

[2020-04-27 17:21] ThomasAdam commented on #24
Hi @NsCDE

I'll take a look at FvwmButtons via #28 as it will be the same problem whereby parameter expansion wil be using the wrong monitor, and I don't yet have a good solution for this.

This is why `TestSDP6` is failing -- if you stop using unique names for XTerms and use:

`+ I Wait XTerm`

... that should help.  Also, don't forget that if you're expecting those XTerms to be on a different sc

[2020-04-28 06:32] NsCDE commented on #24
Hi Thomas,

Ok, let's make some order here. You are right, I'm mixing couple of things in this issue as I find them on the fly. Let's continue with FvwmButtons geometry on restart at  #28 and I can tell you that focusing problems dissapeared in latest ta/gh-22, so let's focus on desk and page dance.

Current state of the things:

- If I stop using unique names for XTerms and Wait for XTerm, they f

[2020-04-28 14:20] #22 closed

[2020-04-28 15:33] ThomasAdam commented on #24
Hello!

OK, thank you.  That's encouraging.  Although FvwmPager largely works, there's still a few other things which #44 will need to be addressed by.  I'm going to close #22 for now.

OK, that's interesting, as I cannot reproduce this behaviour at all.  It's working fine for me on both my main computer, and a dual-head setup in virt-manager.  If you say this is happening in fvwm2, then it's an e

[2020-04-28 19:31] #13 closed

[2020-04-28 21:53] ThomasAdam commented on #14
This seems fixed; and FvwmButtons positioning is being tracked via #28 -- so I'm closing this.

[2020-04-28 21:53] #14 closed

[2020-04-28 21:54] ThomasAdam commented on #27
Feel free to move this information to our [wiki](https://fvwmwiki.org) -- closing for now.

[2020-04-28 21:54] #27 closed

[2020-04-28 21:54] #12 closed

[2020-04-28 21:58] ThomasAdam commented on #37
Hi,

This seems to be the case already.  From `fvwm(1)`:

[code]

[2020-04-28 21:58] #37 closed

[2020-04-28 22:00] ThomasAdam commented on #23
Hi @NsCDE,

Is this bug still valid, given what we've done in #24?

[2020-04-29 06:41] NsCDE commented on #24
I have wrote f_TestSDP8. :)

It avoids Wait bug, but with the effect of segfault if ommiting SkipMapping. Even in one-screen mode. If defined in Style, It even crashes while running older versions of f_TestSDP (with goto's) as soon as it finishes desk 0 - on the same action/place as "Wait XTerm", but it doesn't fire up all at current page, but crashes fvwm3. SkipMapping covers/masks this crash.

I

[2020-04-29 13:39] ThomasAdam commented on #24
Thanks,

I've pushed a fix for `FVWM3` segfaulting when `DesktopConfiguration global` was set.

I'll take a look at the other issues.  Thanks for `f_TestSDP8.txt`!  :)

[2020-04-29 19:52] NsCDE opened #51 "Segmentation fault while using StartsOnScreen and/or StartsOnPage"
Hi Thomas,

In continuation on #24 there is crash when using there attached style definitions. Interesting part is that crash doesn't occur if you add SkipMapping on the end of the style lines. Bug is triggered with f_TestSDP8 function, but it can be also triggered with older Goto*-based versions of the f_TestSDP if Style definitions remains defined.

Here is the full trace:

Reading symbols from

[2020-04-29 19:56] ThomasAdam commented on #51
Hi @NsCDE,

Thanks.   Is this bug fixed by 6a0dcd6c1e3971f00a651069208e63a35103ed0c on `ta/gh-22`?

[2020-04-29 20:21] NsCDE commented on #51
Yes.

This will be probably most shortest lived issue in fvwm3. Close it. :)

P. S.
There is some FvwmPager bug noticed while testing: if started on second screen, it displays windows which are on the primary screen as second screen windows on it's left margin and real second screen windows on the right margin of the page, ignoring first 50% of the space inside a page.

[2020-04-29 20:26] ThomasAdam commented on #51
@NsCDE -- can you write up your `FvwmPager` observations on #44 please?

Thanks!

[2020-04-29 20:26] #51 closed

[2020-04-29 20:39] NsCDE commented on #44
Ok, two issues here. Probably connected.

While running gdb on fvwm3 for other issue I noticed how FvwmPager also dies. I noticed that it doesn't appears when it should every time, but I was focusing on other issues then. Now, let's see today's core dump full backtrace:

Reading symbols from /opt/fvwm3/libexec/fvwm3/3.0.0/FvwmPager...
[New LWP 1941940]
[Thread debugging using libthread_db enabled]

[2020-04-29 20:42] ThomasAdam commented on #44
Ah, I see,

This is happening because of how `FvwmPager` is interpreting monitors when in `global` mode -- and so it gets the wrong moniotor and/or NULL monitor.

Will fix.  Thanks for the backtrace.

[2020-04-29 21:27] ThomasAdam commented on #24
Hi @NsCDE,

So, I think I have solved the problem of `StartsOnScreen $[pointer.screen]` not working.  Here's the fix you'll need to use in your `fvwm2rc` file...

`Style foo StartsOnScreen $$[pointer.screen]`

This makes `FVWM3` now expand `$$[pointer.screen]` twice, once when FVWM expands it for the `Style` command, and once more when we use the `StartsOnScreen` value.

Please update your git rep

[2020-04-29 21:43] NsCDE commented on #44
FYI, I cannot reproduce strange effect of treating second screen side of the page as both monitors what I described in #51. It was one-time glitch. We will see ...

[2020-04-29 21:58] NsCDE commented on #24
Just be careful when intepreting data from f_TestSDP8: info aboud desk and pages after DYNAMIC word in xterms is false. This is expected with StartsOn* vs Goto* approach as I understand.

BTW, there is a strange behaviour of f_TestSDP8 with per-monitor desktop configuration: with pager and with firing xterms on second monitor. I will fill another issue ...

[2020-04-29 22:13] NsCDE commented on #24
That's it. StartsOnScreen is correct.

P. S.
Shouldn't "c" argument of StartsOnScreen remain for configuration compatibility, since it served for the same purpose in fvwm2?

[2020-04-29 22:15] ThomasAdam commented on #24
Finally!

Maybe. I'll think about it.

So, @NsCDE -- given all of your really thorough testing (which I can't thank you for enough!), are there any further problems with window placement, either with `global` or `per-monitor` that you can see?

Are there any major things I've not addressed yet here?  If not, I'll move on to fixing `FvwmPager`...

[2020-04-29 22:39] NsCDE commented on #24
Wait behaviour will probably Wait (!) some time since it exists obviously for long ago, so I think approach with StartsOn* proved that behaviour in global mode is now ok.

In per-monitor mode, it behaves well as well. There are some glitches here and there, but I think we can address them one by one as time comes for that. :-)

[2020-04-29 22:41] ThomasAdam commented on #24
See:  8709aaf9ef409252618783071825a59947bf5bb4

(Not tested this, but it looks correct. :P)

[2020-04-29 22:42] ThomasAdam commented on #24
Yes.  I suspect moving to `XCB` would help here as well, but that's a larger task.

Cool.  In my daily use of this branch it's generally been OK.

I'll merge this to `master` soon, and close this bug off -- and we can move on to other fun bugs.  :)

[2020-04-29 23:01] NsCDE commented on #24
1: 8709aaf - yes, this looks like good compatibility alias :) Looks simple, but I tested it anyway. It is ok.

2. while global mode is more fvwm2 style multi screen environment, per-monitor mode gives more powerfull impression. Of course, when FvwmBacker will be aware of that mode, It will not be so confusing anymore. Not once, I found myself in "WTF..." while testing things, and then "... oh I'm

[2020-04-29 23:16] ThomasAdam commented on #24
OK, thanks.  Closing this now, as `ta/gh-22` merged to `master`.

Please open additional issue(s) around any broken functionality.

[2020-04-29 23:16] #24 closed

[2020-04-29 23:18] wyatt8740 commented on #37
@ThomasAdam I just tried this; my line looks like:
[code]
I have also tried:
[code]
And neither works. I get Tahoma and rectangles instead of CJK glyphs.
If I only specify Noto Sans Mono CJK JP, that works, but all non-CJK text uses that font.

[2020-04-30 16:14] mkarmona opened #52 "dynamic randr dpi configuration causes miss-configured screen dimensions"
My laptop screen is a high-dpi one. Sometimes I need to connect an external screen and work in a clamshell mode. So I configure the monitor and disable the laptop one. Then I change the dpi to some factor. And when I maximise any window it does not fill the whole screen. To fix this, I do restart fvwm3 and it gets the proper scaled dimension.

I am using the latest [tg-22 branch](https://github.co

[2020-04-30 17:02] ThomasAdam commented on #52
Hi @mkarmona ,

Please go back to using the `master` branch.

Can you add this to the top of your `.fvwm2rc` file:

`BugOpts DebugRandr on`

and reatart `fvwm3` -- and then plug/unplug your different monitors, and send me the output?  It's sent to `STDERR`, so typically you'll find this in `~/.xsession-errors`.

Thanks,
Thomas

[2020-04-30 18:49] mkarmona commented on #52
Sure! here you have @ThomasAdam . I personally use `arandr` application. to change the screen setup I disable one screen and then enable the other and click ok to confirm all at once. Not sure if that helps though.
[fvwm_debug_out.log.zip](https://github.com/fvwmorg/fvwm3/files/4560583/fvwm_debug_out.log.zip)

[2020-04-30 22:25] ThomasAdam commented on #52
Hi @mkarmona,

Thanks for this.  Looking through the logs, I am puzzled, because I don't see any disabled monitors, only enabled ones.  This means that FVWM still thinks of them as active.

In looking over the logs as well, the display widths and heights all seem to tally.

I've also tried to reproduce this (albeit not on a HiDPI screen), and for me, when I change monitor dimensions, FVWM correctl

[2020-04-30 22:30] ThomasAdam commented on #25
Hi,

This is difficult to do.  `FvwmBacker` uses `XSetWindowBackground()` to set the root window.  This works fine in `fvwm2` or when using `DesktopConfiguration global` because the desks and pages are the same for all monitors.

But when `per-monitor` is used, the root window is still common across both monitors, even though they could be on different desks and pages, so setting a different colou

[2020-04-30 23:30] mkarmona commented on #52
I will dig into this during this weekend. I will try to formulate a reproducible case; as much as I can though. I will try to test at least two scenarios to see whether dpi changes play a role too.

[2020-05-01 09:47] NsCDE commented on #25
I'm reading now about X functions you mentioned. From your wording that XCopyArea() means drwaing over root window, I can assume that this brings some concerns or maybe unknown obstacles.

One (pretty much dummy) approach would be to take pixmaps stored in FvwmBacker's Colorset or -solid, pick data about where are the left, right, top or bottom monitors, and compose joined pixmap when desks and pa

[2020-05-01 14:56] mkarmona commented on #52
@ThomasAdam I had few minutes off so here my tests

1. start fvwm3 having just my laptop screen edp1
2. connect my external monitor dp1
3. using arandr disable one and enable external and then apply all at once
4. the external monitor does not show the full desktop
5. apply my xrandr dpi 1.5x1.5 so I can get something more usable with my external dp1
6. screen looks odd as the resolution now is sm

[2020-05-01 16:16] ThomasAdam commented on #52
Hi @mkarmona

Thanks.  I was able to reproduce this with playing with different DPI settings.

There's a bug in setting the desktop's working area which I've addressed -- please take a look at `ta/gh-52` which has been created from `master`.

In terms of what should happen to the existing windows when a monitor's resolution changes, I am unsure what best to do here.  I don't want to hard-code the

[2020-05-01 20:30] mkarmona commented on #52
@ThomasAdam you are welcome. Regarding your question about other WMs I could potentially explore others, I use **i3** and **awesomewm**. Trying to answer your open question about moving windows back to a visible area, well not sure how is all managed internally but I would say in case positions are relative to the maximum area of the screen then they will logically remain the same. I guess the pro

[2020-05-01 20:44] ThomasAdam commented on #52
@mkarmona,

Right -- with the code change I mentioned, the working area is updated with the change in monitor resolution.  For example, without applying that code change, if you were to change the resolution and maximize a window, it would take up the wrong area on the screen.  **With** my code change, however, maximizing an existing window uses the correct area.

So that's about 50% of the soluti

[2020-05-02 16:14] ThomasAdam commented on #28
Hi all,

Please can those of you who were running in to this problem compile FVWM3 from the `ta/gh-28` branch and tell me if this fixes the problem you were having?

How, with the specified FvwmButtons geometry, the panel is always placed on the furthest right monitor configured.

Thanks!
Thomas

[2020-05-02 16:40] NsCDE commented on #28
The ta/gh-28 works for me.

My FvwmButtons Front Panel on restart ends up on the bottom center where it belongs. This was not the case pas days while we were testing other things.

[2020-05-02 16:42] NsCDE commented on #23
Sorry, I didn't saw your question 4 days ago as it seems.

I think this is obsolete with #24 and can be closed for now.

[2020-05-02 16:43] ThomasAdam commented on #23
Awesome.  Thank you!

[2020-05-02 16:43] #23 closed

[2020-05-02 16:50] #28 closed

[2020-05-02 17:09] ThomasAdam commented on #28
All,

I've closed this for now, as it appears to be working well for me.  But please do reopen this issue if it's still not fixed.

Note that in `fvwm2` with Xinerama, the position of the FvwmButtons would be relative to the designated primary screen.  `FVWM3` doesn't have such a concept, and hence `$[vp.width]` and `$[vp.height]` are therefore the values returned across **ALL** monitors.  So for

[2020-05-02 17:24] mkarmona commented on #52
I am currently using your suggested branch with the screen-size fix, although I didn't switch monitors yet. I will check later tonight.
@ThomasAdam thinking out loud, I am quite interested in a behaviour similar to what [i3 does](https://i3wm.org/docs/userguide.html#multi_monitor) in terms of how to manage monitors and workspaces (workspace is similarly called `desktop` in Fvwm).
The new Fvwm conf

[2020-05-02 17:27] lgsobalvarro commented on #28
Hi @ThomasAdam

Sadly is not working quite well for me.

FvwmButtons is being placed in the secondary screen (1920x1080), not in the primary (1366x768).  In addition FvwmButtons placement responds to the primary screen, not the secondary.  A similar issue occurs if I set the secondary as primary.

Maybe I'm missing something on my configuration, that tells Fvwm to place Buttons on the primary scre

[2020-05-02 17:33] ThomasAdam commented on #28
That's because in `FVWM3` I haven't written any logic to use the primary screen (even though FVWM3 does track which is which).

It's not a user error, no.  Just an omission.  I'll fix this.

Other than not using the primary screen, I presume the placement is now consistent across monitors (i.e., isn't in the middle or off to one side, as in @MasterP-theGu's screenshots?)

Thanks,
Thomas

[2020-05-02 17:44] lgsobalvarro commented on #28
It is, well... kind of... If I set both screens to use the same resolution (1280x720) it works perfectly, and is placed on my primary screen in the correct place.
But after using kruler to track down the exact position when I use the "optimal" resolutions... I realize  most likely is due that you just said: FVWM3 does not know "know" witch screen is set as primary. So it's calculating for screen1

[2020-05-02 19:01] ThomasAdam commented on #28
Hello again everyone,

Thanks, @lgsobalvarro.  I don't think there should be an issue with different sized monitors as that's what I'm using for testing.

I've pushed 9707b2b to `ta/gh-28` -- this time, the primary screen is taken from whatever has been set via xrandr.

[2020-05-02 19:16] lgsobalvarro commented on #28
That did the trick.

FvwmButtons is now being place correctly on my 2nd monitor.

[2020-05-02 20:07] ThomasAdam commented on #28
OK. Cool. Would you say this is now in a mergeable state?

[2020-05-02 20:20] lgsobalvarro commented on #28
Seems so. I'll play with it more next week.  Let's see to if it works well enough for @MasterP-theGu too.

[2020-05-02 20:46] MasterP-theGu commented on #28
Yes, it works fine on this side of the channel, too.

[2020-05-02 20:49] MasterP-theGu commented on #28
The RightPanel is placed on the rightmost edge of my primary screen, and with my config (*RightPanel: Geometry 120x$[vp.height]+0+0) it stays on the leftmost edge of my primary screen after reboot, even if I reboot from secondary screen; before the most recent changes, a restart from the second screen had moved the panel to the left of the second screen, so that's definitely a thumbs-up.

[2020-05-02 21:34] ThomasAdam commented on #28
Thanks everyone.  Will merge to master.

[2020-05-02 22:20] ThomasAdam commented on #52
@mkarmona -- thanks, and please do join `#fvwm` on `irc.freenode.net`... :)

[2020-05-02 22:47] MasterP-theGu opened #56 "Pager problems in gh-28"
This is all tested with the default config.

Clicking with Mousebutton 1 changes the colour of the active page, but it doesn't change the actual page.
Clicking the Desk-number works as usual and changes desk.
One click with the Mouse button 2 and the pager turns empty or nothing happens at all (depending on ???).
Dragging a mini-icon inside the pager moves the mini-icon from one page to another, b

[2020-05-02 22:51] ThomasAdam commented on #44
In thinking about this...

* `global` mode is straight forward as all screens are treated as one.
* `per-monitor` pager needs to know which monitor to use.

I've already added a `Monitor` configuration option to `FvwmPager` to make it only track windows on that monitor.

I could make `FvwmPager` default to listening only to whichever screen it is on at the time, and make `Monitor` an explicit over

[2020-05-02 22:55] ThomasAdam commented on #56
Duplicate of #44

[2020-05-02 22:56] #56 closed

[2020-05-03 07:45] NsCDE commented on #44
Hi Thomas,

I didn't knew, but now I tried this new FvwmPager Monitor option in my Local (current desk only) and Global (all) pager configurations. Working in per-monitor mode. My observations are this: DeskTopScale (which I always use instead of Geometry directive) considers common joined dimensions of both monitors, not the configured one.

**A bit of testing:**

With value "Virtual-0" in config

[2020-05-03 08:48] NsCDE opened #59 "Addressing monitors proposal for fvwm3"
Hi

I will like to share some of my thoughts about monitor addressing. Maybe you find something useful from this.

In fvwm2, this was a number, monitor number, while on fvwm3, we see RandR provided name in the place of it.

I think there should be two kinds of variables: one with numbers, and one with names. Analogy for this should be gethostbyaddr and gethostbyname - getmonitorybyaddr and getmoni

[2020-05-03 10:37] ThomasAdam commented on #59
Hi,

Yes, that sounds like a good idea, eventually.

See also: http://www.mail-archive.com/fvwm-workers@fvwm.org/msg03649.html

Which I think has a similar idea to it.

[2020-05-03 15:42] ThomasAdam commented on #59
Note that I am not interested in maintaining compatibility with FVWM2 on this -- RandR is sufficiently different that we have to respect how that works, which is different and more complex than Xinerama.

[2020-05-03 16:03] PackRat-SC2018 opened #60 "FvwmButtons fails silently; Fvwm3"
On both Void and ArchLabs, kernel 5.6.x, FvwmButtons does not start.

With the default RightPanel configuration, there is a quick flash (FvwmPager, I think) and then just the wallpaper visible. Sometimes, FvwmIconMan or stalonetray will remain, but not both.

Fvwm3 is functional afterwards, I can start both FvwmPager and FvwmIconMan from FvwmConsole. If I try to start FvwmButtons from FvwmConsole

[2020-05-03 17:21] ThomasAdam commented on #60
Hi @PackRat-SC2018,

Thanks for the report. Do you have a core file left behind from FvwmButtons?

[2020-05-03 18:53] PackRat-SC2018 commented on #60
I don't think so. Where would it get dumped?

I started Fvwm again with "fvwm3 -D" - that the correct way to generate the file you need?

[2020-05-03 19:00] ThomasAdam commented on #60
Hi,

Ah, alas `-D` isn't going to help here.

First we need to compile `FVWM3` so that we can get debug output from it, so something like:

[code]

As for corefiles, you should check that corefiles can be created:

[code]

If that returns `unlimited`, we're all set.  if not, you should add this to your shell profile:

[code]
and restart X11.

Corefiles will usually be in the CWD for the program yo

[2020-05-03 19:41] PackRat-SC2018 commented on #60
ulimit returned unlimited. Not sure the gdb command worked as intended. Here is the terminal output:

`[doug@WILLOW-01 .fvwm]$ ls /usr/local/bin
dwm    fvwm-bug          fvwm-menu-desktop    fvwm-perllib  startdwm
fvwm   FvwmCommand       fvwm-menu-directory  fvwm-root     startyaxwm
fvwm2  fvwm-config       fvwm-menu-headlines  slstatus      xpmroot
fvwm3  fvwm-convert-2.6  fvwm-menu-xlock      s

[2020-05-03 19:55] ThomasAdam commented on #60
Hi @PackRat-SC2018,

That's because `corefile` doesn't exist. It's usually called `core`.

Kindly,
Thomas

[2020-05-03 22:28] ThomasAdam opened #61 "Fix snap attraction"
With `per-monitor` snapattraction is broken.

This is because of monitor detection.

[2020-05-03 23:03] #61 closed

[2020-05-04 00:20] ThomasAdam commented on #40
Hi @afhp-2020,

Thanks for your bug report, and apologies it's taken me this long to respond.

Would you mind having a look at the `ta/gh-40` branch?  I've made quite a few changes to `master` since your filed this bug report, and equally, I've just pushed a commit to `ta/gh-40` which might help the "wandering IconBox" problem you were seeing.

So thanks again, and let me know whether I've made th

[2020-05-04 15:56] MasterP-theGu opened #64 ""ThisWindow (Screen XY) Sticky" broken? in DesktopConfiguration global"
In DesktopConfiguration per-monitor, I have this in my config:

[code]

and it makes all windows on Screen 2 Sticky (albeit without the horizontal bars in the title).

When I change to DesktopConfiguration _global_, the same windows are not sticky anymore, and the above part of my config file doesn't seem to do anything.

Windows that were made sticky in _per-monitor_ Configuration will disappear

[2020-05-04 16:35] ThomasAdam commented on #64
This is working fine for me.

[2020-05-04 16:49] danespen commented on #64
MasterP-theGu <notifications@github.com> writes:

                    ^
                    I

Not sure why that wouldn't be:

AddToFunc MoveWin I Move

--
Dan Espen

[2020-05-04 16:53] ThomasAdam opened #65 "Testing notes for FVWM3-rc.X release candidate"
Hi all,

As determined by me (which is arbitrary), there's a few more things left to sort before a potential release candidate, but [not too much](https://github.com/fvwmorg/fvwm3/projects/1).

As of what's on `master` now, I'd like as much focus on the following to be tested, please.  Leave any comments below.

* DesktopConfiguration:
  * global:
    * Are icons placed correctly with different `I

[2020-05-04 17:03] MasterP-theGu commented on #64
@danespen typography, typography.... Let's also wonder why the pipe symbol hasnt broken it. :D

But I digress, here's my config
[code]

[2020-05-04 17:20] ThomasAdam commented on #64
So..

With `MoveWin` defined in your config, if I do:

`Pick MoveWin`

in `FvwmConsole` and select a window to move to `Screen 2`, then that window becomes sticky.

If I switch between `per-monitor` and `global` via `FvwmConsole`, those windows that were sticky remain so, and those windows don't lose their state.

What am I missing?

[2020-05-04 18:33] lgsobalvarro commented on #65
Yes. It works well with my custom config. I have set some custom icons for some apps, and they works fine too with IconBox.

Yes. My FvwmButtons is set as 64x64-0+0. Is set correctly

I tried out StartsOnPage. Works well.

Yes. As far as I know. I'll keep testing this.

I need to keep testing this too.

No. Windows where retained across monitors, but it worked weird across desks and pages. I'll ke

[2020-05-04 18:52] MasterP-theGu commented on #64
Before I make a video, let me try words.

1st idea:
In `per-monitor` Configuration, the window on Screen 2 is not actually sticky (just confirmed with FvwmIdent, which I could have done earlier). The effect of stickiness is achieved by pager movement on Screen 1 not being followed by any kind of movent on Screen 2. So, I move around pages and desks on my HDMI-1, but remain static on Desk 0 Page 0

[2020-05-04 22:47] lgsobalvarro opened #66 "EwmhBaseStruts glitch when using screen with different resolutions"
EwmhBaseStruts glitches when using two or more screens with different resolutions.  FVWM3 will honor EwmhBaseStruts but only for the screen with the higher resolution available. EwmhBaseStruts will be ignored in all other screens.
[fvwm-1.log](https://github.com/fvwmorg/fvwm3/files/4578182/fvwm-1.log)

[fvwm.log](https://github.com/fvwmorg/fvwm3/files/4578204/fvwm.log)

[2020-05-05 23:51] ThomasAdam commented on #64
@MasterP-theGu -- if this issue can be closed, please do so.  If we need something visual for the behaviour you've identified, I'll consider it.  But it could be documented as well.

[2020-05-05 23:58] ThomasAdam commented on #66
Hi @lgsobalvarro,

Thanks for this report.

On the `ta/gh-66` branch, I've pushed some commits which means:

* `EWMHBaseStruts` command is now `screen` aware, which means you can do:  `EWMHBaseStruts screen NAME_OF_SCREEN a b c d` -- I will document this pending the conversation here.
  * Without setting per-screen `EWMHBaseStruts`, each monitor will inherit the setting
* Different monitor sizes s

[2020-05-06 07:08] MasterP-theGu commented on #64
@ThomasAdam I close this. Documentation will be fine. I'll help if I can.

[2020-05-06 07:08] #64 closed

[2020-05-06 16:22] afhp-2020 commented on #40
Hello Thomas,

Assuming I got the right version (I really don't "get" git, apparently -- removed the build directory completely, re-cloned from master, `git checkout --track origin/ta/gh-40` and the latest commit in git log is indeed on that branch, dated 2020-05-04 regarding `FindScreen`.)

Earlier I modified button mappings so that icons would rearrange both when iconizing or restoring a window;

[2020-05-06 17:59] afhp-2020 commented on #65
If you mean, does fvwm respect the geometry specification from a command-line, e.g. `xterm -geometry +2000+300`, yes.

Quick test : in FvwmConsole `Style Transgui StartsOnPage 3, SkipMapping` then start the program : `SkipMapping` is ignored, the window opens on Desk 3 and we switch to it.

[2020-05-06 18:11] lgsobalvarro commented on #66
It seems to be still broken.
I defined EWMHBaseStruts for eDP and HDMI-A-0 as follows:
EWMHBaseStruts screen eDP 0 68 0 62
EWMHBaseStruts screen HDMI-A-0 0 0 0 0

The issue is the window only "remebers" the latest EWMHBaseStruts. It ignores the first one. It does not matter in witch screen the window is located.
It does not matter if DesktopConfiguration is set as per-monitor or global.

I have al

[2020-05-08 12:05] afhp-2020 commented on #65
Scratch my comment on SkipMapping.

`Style xcalc StartsOnPage 3, SkipMapping` in FvwmConsole followed by either `Exec xcalc` or starting xcalc from an xterm results in the expected behavior: xcalc opens on the requested desk and focus is *not* switched to it.

[2020-05-08 14:32] PackRat-SC2018 commented on #60
Recompiled Fwm3 on a clean ArchLabs install, and on Void. Used the make command you provided above.

FvwmButtons working as expected on both systems.

[2020-05-08 14:33] ThomasAdam commented on #60
Thanks, @PackRat-SC2018!  I'll close this for now then, but if you find anything else, feel free to file another issue, please.

[2020-05-08 14:33] #60 closed

[2020-05-08 20:56] lgsobalvarro commented on #66
Log attached

[xorg-session (1).log](https://github.com/fvwmorg/fvwm3/files/4601571/xorg-session.1.log)

[2020-05-08 21:11] mkarmona commented on #52
@ThomasAdam I had a chance to look at the logs again and I got this. I just compiled the master branch. I didn't change the monitor but it throws some bug and not sure related to this or not. Please, you tell me what I should do to help if possible.

[code]

[fvwm_debug_out_20200508.zip](https://github.com/fvwmorg/fvwm3/files/4601626/fvwm_debug_out_20200508.zip)

[2020-05-09 02:31] ThomasAdam commented on #66
Hi @lgsobalvarro,

Please take another look at `ta/gh-66` and let me know if it's still not working.  :)

[2020-05-09 02:38] ThomasAdam commented on #52
Hi @mkarmona,

Perfect.  Thank you.

I think the problem you're having is partly related to some on-going fixes against #66.

I've rebased `ta/gh-52` against `ta/gh-66`.  Please can you retest and send through the logs if this is still misbehaving?

Also, if you want to chat about this on IRC, I'm about...

[2020-05-09 14:27] lgsobalvarro commented on #66
It works now.

However I did notice this:

![2020-05-09-092058_1290x695_scrot](https://user-images.githubusercontent.com/1160397/81476319-040a4700-91d7-11ea-9237-368d4444c6f6.png)

Note that the window is maximized. The title bar does not refresh, is jsut stuck like that. It can be fixed by iconify and deiconify or by restarting fvwm3.

[2020-05-09 15:35] lgsobalvarro commented on #66
xdpyinfo
[xdpyinfo.txt](https://github.com/fvwmorg/fvwm3/files/4603905/xdpyinfo.txt)

[2020-05-09 20:56] ThomasAdam opened #68 "Unmaximizing windows can sometimes vanish"
When moving a maximized window between pages or screens, FVWM records the previous geometry of the unmaximized window, so it can restore correctly.

However, this doesn't work well when the maximized window itself has moved between screens or different pages, since the unmaximized geometry from the point of view of the maximized window is now incorrect.  Subsequently, unmaximizing a window will pu

[2020-05-09 21:01] #68 closed

[2020-05-09 21:05] ThomasAdam opened #70 "Remove win_count functionality"
In previous iterations of tracking which screen a given window was on, or moved to, the assigned `struct monitor` would maintain a count of the number of its windows.

This was meant to provide functionality which is not going to be used now, so this can be removed.

[2020-05-09 21:18] #70 closed

[2020-05-09 21:33] ThomasAdam commented on #66
Thanks, @lgsobalvarro

This is looking good, so I've merged it to master.  Please switch back to that branch, and report any problems.

I've now made unmaximizing windows track the change in monitor, if they're moved while maximizing, so this should behave better than it did before.

[2020-05-09 23:29] ThomasAdam opened #73 "Deprecate execute_function_override_*() calls"
There are parts of FVWM which will internally call a FVWM function, which make it behave as though the command itself had been typed in to `FvwmConsole`,  such as `Iconify off`.

Although helpful, this has a few problems:

1. It means the APIs to performing window actions are overly complicated -- because each command does its own parsing;
2. Changes to syntax in the future mean compilation change

[2020-05-10 15:15] ThomasAdam commented on #59
Hi @NsCDE,

I'm going to leave this issue open, but I've partly addressed this by adding some `$[monitor.X]` variables.  I think this will do for now.

The underlying issue of how we independently refer to monitors (not predicating by name) is perfectly valid, but one I'm going to ignore for 1.0's release.

[2020-05-10 21:31] ThomasAdam commented on #44
Hi @NsCDE,

OK, I think I've fixed the segfaults.  Have a look at `ta/gh-44` which is based from current `master`.

It will probably look confusing if you're using `per-monitor` mode, but configuring `FvwmPager` with `Monitor:` will help with that.

I'll address some of your other ideas post-1.0.

Thanks!

Thomas

[2020-05-11 06:15] NsCDE commented on #44
Hi @ThomasAdam,

I tested with desk-only and all-desks FvwmPager configuration and indeed I cannot trigger segfault. Tested in per-monitor and global mode.

Altrough, there are a bunch of inconsistencies in presenting what is on desks in per-monitor mode. With and without "Monitor: Virtual-0" or Virtual-1. Windows appear and dissapear depending on configuration of Monitor, monitor/screen context i

[2020-05-11 06:41] NsCDE commented on #59
Hi @ThomasAdam,

I see similar ideas from you and @domivogt are 6 years old already. :-)

I tried new macros, and $[monitor.Virtual-0.width] even helped me already today while forcing FvwmPager for #44 to the right dimensions in one-monitor mode.

I'm just not sure what $[monitor.<mname>.output] is.

I also see you decided to go with new monitor.* namespace, and not extending screen.* which you co

[2020-05-12 08:45] voltumna opened #76 "FVWM3 on Kubuntu: unknown type name ‘RROutput’"
Hello All,
i have tried to do the **./configure && make** and it all goes well, but then it fails with the following

What am I missing? this is a 'new' installation and I have put all the dependencies I could

`
...
Making all in libs
make[2]: Entering directory '/home/me/Downloads/fvwm3-master/libs'
  CC       FScreen.o
In file included from FScreen.c:29:
FScreen.h:79:2: error: unknown type name

[2020-05-12 08:49] ThomasAdam commented on #76
Hi @voltumna,

You need to install the XRandR header files.  At least version 1.5

Then FVWM3 will compile.

[2020-05-12 08:49] #76 closed

[2020-05-12 19:20] ThomasAdam opened #77 "Better logging required"
At the moment, FVWM3's logging is OK if you know where to look, but ultimately overly verbose.

We should standardise on using something like `log_debug()` to do our logging for us, and allowing the user to set a path/filename to the log file.

This should be toggleable via `USR2`, for example.

Auditing of existing `fvwm_msg()` callers should be done to determine what's still relevant.

A start o

[2020-05-12 19:50] BrianA-MN opened #78 "No default panel with latest Master. Dual Monitor of different size."
Hi Thomas,
This is on a Slackware64 14.2 with Nouveau driving a NVIDIA GS8400GX with dual outputs to a DVI at 1600x900 and VGA at 1280x1024.  The .config works under 2.6.9 but not 3.0.0.   You asked for the config and xsession-errors log, which are attached.  I'm just a tester, but willing to help with more testing or explanation of system config or Slackware configs.   Cheers, BrianA_MN
[config.t

[2020-05-12 20:51] ThomasAdam commented on #78
Thanks, @BrianA-MN.  Please can you also attach the output from `xrandr`?

[2020-05-13 01:08] BrianA-MN commented on #78
Here is xrandr.
[xrandr-out.txt](https://github.com/fvwmorg/fvwm3/files/4619234/xrandr-out.txt)

[2020-05-13 01:09] BrianA-MN commented on #78
Sorry I was only trying to leave comment and file.

[2020-05-13 01:17] ThomasAdam commented on #78
Hi @BrianA-MN,

It looks as though you don't have a monitor marked as primary.  Please can you try setting one of your monitors as primary.  For example:

[code]

Perhaps add this to the top of your `~/.xsession` or `~/.xinitrc` script (however you're starting `FVWM3`), and try again...

Kindly,
Thomas

[2020-05-13 01:39] ThomasAdam commented on #78
Hi @BrianA-MN,

Further to my previous comment, you should also checkout the `ta/primary-if-none` branch and see if that fixes your problem.  This change assigns the first output `FVWM3` finds as primary in the case no primary monitor is found.

[2020-05-16 11:46] ThomasAdam opened #82 "EdgeScroll needs thinking about for per-monitor setup"
When `DesktopConfiguration` is set to `global`, the panframes should work the same in `FVWM2` since the monitors are all working as one.

But in `per-desktop` we could add panframes around the edges of each monitor, however, this would make things difficult to move windows between screens, since the EnterNotify event on the panframe would cause the monitor to switch pages (unless `DesktopSize 1x1`

[2020-05-16 14:07] lgsobalvarro commented on #82
EdgeScroll is half-broken when using only one monitor (I have not tried with two yet). In my particular case EdgeScroll work for Bottom-Left-Top but is broken for Right. I do not know if it has something to do with Ewmh or/and the position of FvwmButtons on my cfg.

[2020-05-16 16:06] lgsobalvarro opened #83 "MoveToPage not working right"
[screen.mp4.gz](https://github.com/fvwmorg/fvwm3/files/4639081/screen.mp4.gz)

For some reason `MoveToPage` is not working correctly
I have 4 desktops, with 4 pages. `MoveToPage` has being set as a menu this way:

[code]

If I'm in Page 0  and I use `MoveToPage 0 1` the window ends up on Page 2.
If I the window is on Page 2 and I use `MoveToPage 0 1` or `MoveToPage 0 3` it does nothing. Window rem

[2020-05-16 19:28] lgsobalvarro commented on #83
It was user error.

[2020-05-16 19:28] #83 closed

[2020-05-21 10:32] afhp-2020 opened #84 "Wrong maximizing with EwmBaseStruts"
Recompiled from master today, can't say when the regression appeared.

When using EwmBaseStruts as described below, most Maximize actions will incorrectly resize windows.

Primary screen is 1900x1200, right screen is 900x1440 (rotated widescreen), screens are aligned at the bottom.
[code]
Base struts are defined on the primary screen:
[code]
This is where the MainPanel goes:
[code]
Now, when maxim

[2020-05-21 10:35] afhp-2020 commented on #84
From .xsession-errors log, maximizing normally on the primary screen:
[code]

[2020-05-21 21:57] ThomasAdam commented on #84
Thank you, @afhp-2020.

Out of interest, if you don't have your right screen rotated, do things work as you'd expect?

[2020-05-22 08:46] afhp-2020 commented on #84
Hi Thomas,

No difference with the right screen in `--rotation normal` with xrandr.

Even with rotation, from the `ewmh_ComputeAndSetWorkArea` in the log, the primary screen area seems to be calculated properly initally, but something is lost later on.

[2020-05-22 13:39] afhp-2020 opened #85 "Windows open outside of screen"
Another regression, may or may not be related to #68 ?

As of recently, and without apparent pattern, some windows will start opening outside the display. They didn't before, ~and once they start they always do.~

Currently observed with one specific contact window in Pidgin, and just now with Emacs.

xsession-error log:
[code]
The window does appear in the window list, and one can check that it d

[2020-05-22 15:11] ThomasAdam commented on #85
Hi @afhp-2020,

Weird.  I cannot reproduce this either.

Can you maybe take a video capture of the problems you're seeing here, and with #68 just so I can see what's going on visually?  Presumably I'm missing a piece of setup from what you've described, but can't tell what that might be.

[2020-05-22 16:24] NsCDE opened #86 "RaiseLower only Lowers windows in per-desktop mode in certain conditions"
Branch: master

If I have terminal on monitor Virtual-0, desk 0, and start "someapp" on monitor Virtual-1, desk 2, and then move it with mouse to Virtual-0, it will change desk to desk 0. I can use RaiseLower builtin function to lower it if it covers app which has been initially on Virtual-0, but raise part doesn't function: it is like window moved from Virtual-1 to Virtual-0 is on the "top" layer

[2020-05-22 16:24] NsCDE commented on #82
Hi

I don't even see how anything else different from EdgeScroll "0 0" or "100 100" can be reliable on per-desktop mode. For totally seamless experience with < 100 edge scroll and two different desks on two (or more) screens, this will add complexity in desktop backgrounds reliably presenting what user expects visually. This means EdgeScroll different from 0 or 100 (or 100000) should be disabled i

[2020-05-22 20:14] BrianA-MN commented on #78
Thomas, I finally compiled, packaged and installed this ta/primary-if-none patch and it didn't resolve the issue of no right screen.  Is there a special file or where is the code embedded so I could do a diff?  Thanks BrianA_MN

[2020-05-22 20:28] afhp-2020 commented on #85
I can't reproduce #68 (and it was at best just a guess), let's forget it.

Just to be sure, I wiped the fvwm3 build directory completely and re-cloned it (a few minutes ago), and rebuilt as described in your message.
`./configure` summary:
[code]
`fvwm3 --version`:
[code]
Any place where I could drop the screencap ?

[2020-05-22 20:50] ThomasAdam commented on #85
@afhp-2020,

You should be able to.zip it up and attach it here.  Failing that, email it to me:  thomas@fvwm.org

[2020-05-22 21:11] #78 closed

[2020-05-22 22:23] afhp-2020 commented on #85
[fvwm3-screencap.zip](https://github.com/fvwmorg/fvwm3/files/4670631/fvwm3-screencap.zip)

[2020-05-23 00:41] ThomasAdam opened #89 "Autotools: migrate to Meson"
FVWM's build system is old, and `configure.ac` has a lot of legacy/dead code which is no longer required.

Added to which, some of the m4 macros in use could probably be replaced with newer constructs in autotools since the time they were written some years ago.

It would be nice to audit this.

For example:

* `imagepath` can be set here, but is configurable via runtime, so should be removed.  It

[2020-05-23 00:53] ThomasAdam commented on #84
Hi @afhp-2020,

Thanks.  I can't reproduce this either.  I have:

* Set one of my monitors to be a lower resolution than the other, and maximized windows -- both respect the BaseStruts setting I have;
* Set one of my monitors to have a `right` rotation, again, same result, BaseStrut respected.

Can you take another video for me, so I can see what's happening?

Thanks!

[2020-05-23 01:25] lgsobalvarro commented on #84
I can't reproduce this either.

It works fine with my EwmhBaseStruts, and when  I use your own EwmhBaseStruts, and it works well too.

[2020-05-23 08:58] afhp-2020 commented on #84
Weirderer and weirderer...

[fvwm3-maximize.zip](https://github.com/fvwmorg/fvwm3/files/4671418/fvwm3-maximize.zip)

Both screens are at their native resolution. Full (relevant) `xrandr` setup:
[code]
I can't pinpoint when it started happening but I think it's when I went back to master a few days ago. This is currently a fresh build, however.

At this point, the full Fvwm config might help:

[con

[2020-05-23 13:26] ThomasAdam commented on #86
Hi @NsCDE,

Thanks for this.  I presume the window you were moving between desk not updating correctly was due to `StartsOnDesk` style?  That's certainly how I was able to reproduce this.  Please take a look at the `ta/gh-86` branch which should address this problem.  I've also fixed a bug in this which was causing `FvwmPager` not to update correctly.

As to your RaiseLower problem, I'll take a lo

[2020-05-23 18:09] voltumna opened #93 "FindScreenOfXY: couldn't find screen at 555 x 134 returning first monitor. This is a bug."
is this a real bug?

[2020-05-23 18:12] ThomasAdam commented on #93
No, I'll need to remove the debug... thanks for the reminder.

[2020-05-23 19:00] ThomasAdam commented on #93
@voltumna -- feel free to write a patch to remove it.

[2020-05-23 19:08] voltumna commented on #93
Oh alright, thank you :)

I wish I knew how to create a patch, sorry, I am a user, I am checking the logs because my fvwm3 seems to be missing a lot of supports: xpm, png, ttf etc... and I am looking at how to do it,

but luckily, I can simply ignore this error :smile:

[2020-05-23 19:14] ThomasAdam commented on #93
Hi @voltumna

For this, you'll need to install the header files for these packages.  Some Linux distributions have these as `-deve` packages, hence:

[code]

etc, etc.

No problem, I'll remove this.

-- Thomas

[2020-05-23 23:38] ThomasAdam commented on #84
Hi @afhp-2020,

Got it -- the trick is to set the left EWMHBaseStrut to something > 0.

Patch to follow...

[2020-05-24 12:59] afhp-2020 commented on #40
A slow and inelegant workaround that works in my specific use-case is to force the icons to the primary screen after the PlaceAgain:
[code]
It's slow and causes multiple visible redraws of the icons, but it might do the trick until this issue is cleared. No idea how good this workaround is beyond my own use, either, I suspect it's not particularly portable.

[2020-05-24 13:48] ThomasAdam commented on #40
Hi @afhp-2020,

It's portable.

This is on my list to look at. Hopefully over the weekend.

Kindly,
Thomas

[2020-05-24 17:22] ThomasAdam commented on #84
@afhp-2020 / @lgsobalvarro,

Chaps, please can you checkout the `ta/gh-84` branch, and give that a go?  I'm hoping this fixes your problem and doesn't regress on the previous work I've done to make `EwmhBaseStruts` work with different monitor sizes.

@lgsobalvarro -- one for you to check, please.

Thanks both!
Thomas

[2020-05-24 17:47] ThomasAdam commented on #85
@afhp-2020,

Is there any chance these applications (emacs, pidgin, etc.) are starting iconfied?  What if you did:

[code]

In place of `Next (Emacs) Move pointer`?

[2020-05-24 22:08] ThomasAdam commented on #86
Hi @NsCDE,

I suspect the `RaiseLower` problem has been fixed because the desk wasn't switched correctly between desks.  That said, I have made a tiny correction to the window checking for different layers, so I'm hoping that you'll find both your reported issues fixed on `ta/gh-86`.

Let me know how you get on.

[2020-05-24 22:28] afhp-2020 commented on #85
Started an Emacs on right screen, didn't show.

As above, at FvwmConsole `Next (Emacs) Echo $[w.x] $[w.y]` gives `[fvwm][Echo]: 2820 0` in the logs.

`All (CurrentDesk, Iconic) Iconify off` de-iconifies the only window that was known to be in that state, but not the new Emacs window. (An iconified window would report the strings $[w.x] and $[w.y] as-is in the logs instead of coordinates.)

Perform

[2020-05-24 22:40] ThomasAdam commented on #85
Hi @afhp-2020,

OK.  I'm having problems reproducing your problem, but that's a good thing since it means you're using something I'm not.

Can you shove the following at the top of your FVWM3 config file:

[code]

... and then can you send me the logs of FVWM3 to STDERR?  I need everything, so if you wanted to make FVWM3 log to a separate file, that makes sense:

[code]

Thanks,
Thomas

[2020-05-25 16:01] ThomasAdam opened #95 "Transient windows sometimes switch desks"
When using `DesktopConfiguration per-monitor`, if an application opened up a
transient window, the placement algorithm would erroneously switch
desks, away from the current desk/monitor.

[2020-05-25 16:06] #95 closed

[2020-05-25 16:29] ThomasAdam opened #97 "Capture: force NormalState despite current desk"
When FVWM restarts and captures windows, the window would only have been put
in the NormalState if the window's desk was different to the current desk.

This check doesn't need to happen any more, since the desks will likely almost
always be different when capturing windows (especially if per-monitor mode is
in use).

[2020-05-25 16:33] #97 closed

[2020-05-25 16:49] ThomasAdam commented on #52
Hi @mkarmona,

Hope you're well.  Have you had chance to look at this yet?  I would suggest just jumping straight to the `master` branch...

[2020-05-25 17:07] mkarmona commented on #52
Hi @ThomasAdam . I just tried right now. It does not recognise the proper dpi and resolution. I have to restart fvwm3 to just get the proper screen size and hence the apps to fit the screen when I maximise or any other related to sizing operations.
[fvwm_debug_out_200525.zip](https://github.com/fvwmorg/fvwm3/files/4678212/fvwm_debug_out_200525.zip)

[code]

[2020-05-25 17:09] mkarmona commented on #52
Should `Fvwm` restart when any xrandr event is produced? just to capture any screen configuration?

[2020-05-25 17:33] afhp-2020 commented on #84
Well, that was unexpected: ta/gh-84 solves this bug **and** #85 :)

[2020-05-25 17:44] afhp-2020 commented on #85
[fvwm3-master20200525.log.txt](https://github.com/fvwmorg/fvwm3/files/4678297/fvwm3-master20200525.log.txt)
[fvwm3-gh48.log.txt](https://github.com/fvwmorg/fvwm3/files/4678298/fvwm3-gh48.log.txt)

Of course I had to mis-name the logfile and only see it after upload...

Same scenario (more or less) with master and with ta/gh-84:

* open a non-character-cell application, e.g. Xfe on the primary and

[2020-05-25 18:29] ThomasAdam commented on #52
Hi @mkarmona,

A restart is not required, as `FVWM3` should recognise this dynamically.

I'll take a look at your debug, although I can't reproduce this problem any more.  You might want to take a look at:

https://github.com/fvwmorg/fvwm3/pull/94

Just in case this helps?

Thanks again,
Thomas

[2020-05-25 18:31] ThomasAdam commented on #84
@afhp-2020,

Well, that's something.  Two birds, one stone.

I'll wait for @lgsobalvarro to respond, and if he's happy, I'll merge the pull-request.

Thanks again!
Thomas

[2020-05-25 20:16] ThomasAdam opened #99 "Reproducible Builds: remove __DATE__ and __TIME__"
For a while now, there's been a patch floating around for FVWM to remove
__DATE__ and __TIME__ macros so that reproducible builds can be achieved.

In trying to track down the original author(s), I've reached out to a few
different people, but no one's been forthcoming or can remember who that was.

So in tribute to them, here's the patch!

[2020-05-25 20:21] #99 closed

[2020-05-25 21:14] lgsobalvarro commented on #84
Seems to work fine here after a quick test.

[2020-05-25 21:33] #84 closed

[2020-05-25 21:34] ThomasAdam commented on #84
Thanks both. Merged now.

[2020-05-25 22:03] ThomasAdam commented on #85
Thanks, @afhp-2020 -- I'll close this now.

[2020-05-25 22:03] #85 closed

[2020-05-26 03:20] BrianA-MN commented on #89
Intersting thing is the ConfigFvwmDefaults also has IMAGEPATH statement for default configs which is actually already $[FVWM_USERDIR].  You can also pass to configure  --with-imagepath=PATH switch.  configure's IMAGEPATH information starts around L5645.  configure.ac IMAGEPATH logic starts around L185.

[2020-05-26 15:13] afhp-2020 opened #101 "Core dump accessing some $[monitor] variables"
Just exploring and checking out the manpage, accessing some of the monitor-related variables will crash fvwm3 and dump core, e.g. Echo $[monitor.*whatever*] at the FvwmConsole.

The following work: `$[monitor.primary]`, `$[monitor.current]`, `$[monitor.count]`

On the other hand, `$[monitor.output]` and all monitor-specific geometry-related variables crash.

Compiled from today's master (76b8e2ec)

[2020-05-26 15:17] ThomasAdam commented on #101
Hi @afhp-2020,

Yeah, not surprised.

Please can you get me a `bt full` backtrace from gdb?

[2020-05-26 16:46] afhp-2020 commented on #101
I have no idea how to do that. Last time I used a debugger on compiled code must have been in the Turbo Pascal timeframe :)

I'll be glad to follow any instructions you could provide.

[2020-05-26 17:03] ThomasAdam commented on #101
### @afhp-2020,

Sure.  If you can recompile `FVWM3` with:

[code]

... then reproduce your problem, you'll find the coredump in the same place you did before.

Then install `gdb`, and run:

[code]

... then you'll find a prompt like this:

[code]

... in there, type:

[code]

... and send me the output here.

Thanks!

[2020-05-26 21:00] afhp-2020 commented on #101
Thank you. This and a quick lookup of SO (about redirecting output) helped.

Here it is, running `Echo $[monitor.output]` at the FvwmConsole.

For some reason, the debug version would not start my MainPanel but it doesn't really matter.

[fvwm3-gdb.log.txt](https://github.com/fvwmorg/fvwm3/files/4685011/fvwm3-gdb.log.txt)

[2020-05-26 22:17] ThomasAdam commented on #101
Hi @afhp-2020,

Thanks.  Please can you have a look at #102 (`ta/gh-101` branch).  Hopefully that'll fix the segfault.

Kindly,
Thomas

[2020-05-27 01:43] ThomasAdam commented on #77
A start on this has been made, and is now merged to `master` ready for 1.0

This now means:

* Callers using `fprintf(stderr, ...);` have been converted to use `fvwm_debug()`;
* Logging now happens to a file:  `fvwm3-<PID>.log`, typically in `$HOME` -- this is to reduce the confusion around where some display managers log STDERR to.
* Logging can be toggled at run-time by sending `SIGUSR2` to `fvw

[2020-05-27 13:19] elfring opened #104 "reserved identifier violation"
I would like to point out that identifiers like “[`_EWMH_`](https://github.com/fvwmorg/fvwm3/blob/84499a61dfb37e6f8f2e419cc4a76266d15e8f7a/fvwm/ewmh.h#L4 "Update candidate")” and “[`_MENUS_`](https://github.com/fvwmorg/fvwm3/blob/65ba209215f9b8b27bee38c7382f1999126cc6f1/fvwm/menus.h#L3 "Another update candidate")” [do not fit](https://www.securecoding.cert.org/confluence/display/c/DCL37-C.+Do+not+

[2020-05-27 13:40] ThomasAdam commented on #104
Hi @elfring,

Indeed, you're correct.  This is from circa 2001.

As always, patches welcome.  Bonus points from your kind self, if you use coccinelle to do it.

Always happy to be increasing the cocci scripts in `contrib/coccinelle`...

Thanks,
Thomas

[2020-05-27 17:19] afhp-2020 commented on #101
Fixed.

All geometry-related monitor variables respond normally, including incomplete references, e.g.
`Echo $[monitor.$[monitor.current]]` → `[fvwm][Echo]: $[monitor.DVI-I-1]`
`Echo $[monitor.$[monitor.current].height]` → `[fvwm][Echo]: 1200`

What exactly is the *meaning* of `output` in this context ?
`Echo $[monitor.output]` → `[fvwm][Echo]: $[monitor.output]`
`Echo $[monitor.$[monitor.current]

[2020-05-27 17:21] ThomasAdam commented on #101
@afhp-2020,

`output` refers to the number RandR assigns the monitor, which is an identifier FVWM3 uses internally.  It'll be used more for when `FvwmEvent` learns about RandR events (#26).

I'll take a look at the man page, although patches welcome!  ;)

[2020-05-27 17:22] #101 closed

[2020-05-27 21:44] NsCDE commented on #86
Hi Thomas,

Sorry for the delay, I had lot of work this days.

Just to confirm: I have tested, both RaiseLower and FvwmIdent are not behaving fine. You can close this issue I think.

[2020-05-27 21:59] #86 closed

[2020-05-29 11:19] ThomasAdam opened #107 "Code Cleanup: Codacy issues list"
Codacy is a free code analysis tool which will help identify security problems in code.

The current list of issues found against `master` is here:

https://app.codacy.com/gh/fvwmorg/fvwm3/issues/index

It would be good if some/all of these are addressed via PRs.  Some are easier to fix than others, so some of the suggestions might need discussion.

[2020-05-29 15:10] elfring opened #108 "Remove unnecessary null pointer checks"
[An extra null pointer check is not needed in functions](https://stackoverflow.com/questions/18775608/free-a-null-pointer-anyway-or-check-first "Free a null pointer anyway or check first?") like the following.
- [Circulate](https://github.com/fvwmorg/fvwm3/blob/4a639a8648f4f6a2a6273a827f2299c6cccaf30c/fvwm/conditional.c#L88 "Circulate function")
- [pop_menu_up](https://github.com/fvwmorg/fvwm3/blo

[2020-05-29 15:52] ThomasAdam commented on #108
Hi @elfring,

Yes, you're right.  The only exception to this in `FVWM3`'s code base is when calling `XFree()` -- if you pass NULL in to that, X11 will more often than not segfault.  It *shouldn't* do, but it does.

Would you mind writing a cocci script to handle these checks so we can start applying it to the codebase?

Thanks!

[2020-05-29 16:08] elfring commented on #108
I am curious then if another software developer (besides me) can get into the mood to apply a corresponding update suggestion which could be generated by [the software “Coccinelle”](http://coccinelle.lip6.fr/ "Source code transformation with Coccinelle") (also with the help of a variant from the following script).

[code]

[2020-05-29 16:11] ThomasAdam commented on #108
@elfring,

At present, the only person who could "get into the mood" is myself, as it's just me working on this project.  I'd be happy to take a look, but ideally I'd like to be on the reviewing-end of this, rather than the person doing the work.

That said, if I have to, then I will. :)

Kindly,
Thomas

[2020-05-30 11:26] MasterP-theGu commented on #65
Hi,
sorry for having been away for so long. Our corona-rules seem to change on a day-to-day basis and I have to test and review them so that too little time is left for other stuff....

I've kept ma install updated to the most recent master branch in the past weeks on my productive machine. There's hardly anything that I notice that goes awry or not according to plan. NB: I currently "just use" fv

[2020-05-30 23:57] ThomasAdam commented on #26
Hi,

So please see the `ta/gh-26` branch which implements the following hooks in `FvwmEvent`:

* monitor_enabled -- when a monitor is "plugged" in, and active;
* monitor_disabled -- when a monitor is "unplugged" and deactivated;
* monitor_changed -- when an enabled monitor changes resolution/rotation

Due to how RandR works, the finer-grained distinction between enable/add and disable/remove aren'

[2020-06-01 21:00] lgsobalvarro opened #112 "Add a dmenu/rofi keybinding for default config"
In a similar way as standalonetray has being implemented into the default config file, it could be a nice touch if there was also a keybinding to call dmenu and/or rofi. Eg:

`Key Space A M Exec exec dmenu_run`

Or perhaps a menu option in a similar fashion as wmaker's "run command" window works. However I think this method could be considered a bit silly.

[2020-06-01 22:10] ThomasAdam commented on #112
Hi @lgsobalvarro,

Thanks -- if you want to open a PR with a patch, that'd be good.

Kindly,
Thomas

[2020-06-02 09:53] afhp-2020 commented on #77
Is there any way to enable logging at startup, instead of explicity with `SIGUSR2` ?

When something goes wrong as Fvwm is setting itself up, the old log in `xsession-errors` caught everything. Now if one has to wait until it's up (when it does come up) manually activating logging is much too late in the process.

[2020-06-02 10:10] ThomasAdam commented on #77
@afhp-2020,

You can pass `-v` to `fvwm3`, hence:  `fvwm3 -v`

Pull from `master` first...

[2020-06-02 10:58] afhp-2020 commented on #77
Pulling from `master` is what got me in today's rabbit hole (other report incoming).

Some issues I've noticed:
* `fvwm -v` on a "fresh" setup works fine: the log is created and filled.
* `fvwm -v` if there already is a `~/fvwm-<some pid>.log` will **not** open a new log and will **not** update the existing log (the latter makes sense, since the pid has changed; but there is no `fvwm-<new pid>.log

[2020-06-02 11:21] afhp-2020 opened #115 "More PositionPlacement weirdness"
I was exploring and ready to report another issue with window placement when I thought I should make sure I run the latest code before re-testing. *That* report will have to wait (unless related to this one, I guess).

So, pulling today's `master` and running a clean make, I seemingly lost my MainPanel.

Looking into it further, it would display outside of the screen with my regular configuration.

[2020-06-02 18:05] ThomasAdam commented on #77
Hi @afhp-2020,

Yeah.  Removing the PID from the filename makes sense here.  Since the log file is opened in append mode, this should keep writing to it.  I'm about to merge to master a fix for this, such that the log file is:  `~/fvwm3-output.log`.

Restarting fvwm3 keeps appending to this file, and I don't need to keep toggling fvwm3 via `SIGUSR2`.  If I do, and `fvwm3 -v` is already present, it

[2020-06-02 18:14] ThomasAdam commented on #115
Hi @afhp-2020,

I presume `MainPanel` is an `FvwmButtons` instance?  Can you bundle your entire fvwm config with this ticket, so I can take a look?

Thanks,
Thomas

[2020-06-02 18:42] #112 closed

[2020-06-03 04:32] lunarlabs opened #119 "multiple definition error when using gcc 10"
I'm trying to make this file on an Arch Linux installation, and when I get to the make stage, I get the "ld: multiple definition" error that appears to be a new "feature" of GCC 10 as detailed here: https://gcc.gnu.org/gcc-10/porting_to.html

[2020-06-03 09:52] afhp-2020 commented on #115
Hello Thomas,

You presume right, `MainPanel` is indeed an FvwmButtons instance (with subpanels, hence the name). It is in part built dynamically but I don't believe that's relevant.

A version of my config is already visible here:
https://github.com/fvwmorg/fvwm3/issues/84#issuecomment-633010079
The only relevant changes are those described above in this issue (the config in #84 is the starting p

[2020-06-03 10:22] ThomasAdam commented on #119
Hi @lunarlabs,

Thanks for the report.  Can you please paste the output from GCC, including the errors you're getting?

Thanks,
Thomas

[2020-06-03 21:59] ThomasAdam commented on #115
Hi @afhp-2020,

I'm presuming this will have been broken for you in `fvwm2` since you'll need:

`Style MainPanel !USeUSPosition`

... to allow the likes of `PositionPlacement` to work correctly.

That said, I believe there to be a bug with `StartsOnScreen` handling, which I've pushed to `ta/gh-115` -- please try that with the aforementioned style tweak to your config, and I'd be interested to know

[2020-06-03 22:37] ThomasAdam commented on #119
OK.  GCC trying to be helpful and failing,

I'm not fixing this properly, but for now, I will disable `fcommon`.

Thanks for the report.

[2020-06-03 23:40] #119 closed

[2020-06-04 17:19] lgsobalvarro opened #124 "Steam crashes on FVWM3"
Steam crashes 3 out of5 times when you open it. For some bizarre reason seems to be more common when started in offline mode.

Steams complains constantly about X before crashing, this behavior only occurs with FVWM3. I haven't being able to reproduce this in wmaker.

[steam.txt](https://github.com/fvwmorg/fvwm3/files/4731684/steam.txt) contains what steam logged into my urxvt.

[fvwm3-output.log]

[2020-06-04 18:56] afhp-2020 commented on #115
Hi,

Just ran a quick test with gh-115 (not much time this evening). With that branch, the panel does not open outside the view.

I'm not very clear on what `UseUSPosition` (or its negation) does, but here are the results.

With `Style MainPanel !UseUSPosition`:

* `StartFunc`: no geometry specified
MainPanel Style: no `PositionPlacement` specified
→ panel opens at 0,0 relative to ewmh work area
*

[2020-06-04 19:15] ThomasAdam commented on #115
Hi @afhp-2020,

Yes, it all makes sense. You'll find the same behaviour with `fvwm2` as well.

So this seems fixed to me.

Kindly,
Thomas

[2020-06-05 09:16] afhp-2020 opened #125 "FvwmScript: incorrect painting of dipsticks at low values"
A quite minor one :)

With the test case enclosed, basic dipsticks with a value range of 0-100 and some way to change their value,
* from 6-100 everything displays correctly
* with value 5, the dipstick is not filled with the foreground color (but some relief is shown in the dipsticks at the right length)
* values 2-4, the horizontal dipstick is filled at 100%
* values 0-1 display correctly

[dipt

[2020-06-05 09:19] afhp-2020 commented on #115
Agreed.

I'll have to re-read and digest all the placement options at some point.

Regards,
AP

[2020-06-05 09:19] #115 closed

[2020-06-06 20:18] ThomasAdam commented on #26
Hi,

This has been working well enough for me, and hence I'll merge the pull-request associated with this issue, to master.

Feel free to open a new issue if there's problems.

Thomas

[2020-06-06 20:18] #26 closed

[2020-06-06 20:20] ThomasAdam commented on #125
Hi @afhp-2020,

I'm not prioritising this until after 1.0 -- but all I can say is that this will also be happening on `fvwm2` and hence isn't a regression.

This is more for my benefit than anything else.

[2020-06-06 20:30] NsCDE commented on #77
Hi Thomas,

Very little time in the last weeks, but before my wife spots me in the front of the monitor on a weekend day (!), please tell me what you think of this:

[code]
Some people will probably have often or permanent logging turned on, and creating file with fixed file name in $HOME is maybe not flexible enough.

Should I create pull request?

[2020-06-06 20:38] ThomasAdam commented on #77
Hi @NsCDE,

Can do -- although this is all rather micro-arbitrary stuff.

Please submit a PR for this, but note that:

* It should be `FVWM3_LOGFILE`;
* The default if `FVWM3_LOGFILE isn't used should now be stored in a `'#define` instead;
* We'd need to handle `~/` substitution.  For that, see `getpwuid`, etc.

Thomas

[2020-06-07 18:39] afhp-2020 commented on #125
No problem and no rush. It's not breaking anything :)

[2020-06-07 21:17] #93 closed

[2020-06-08 23:16] ThomasAdam commented on #40
Hi @afhp-2020,

Sorry it's taken me so long to get around to looking at this.

So... some changes which I've made to this functionality -- see the `ta/gh-40` branch for this:

* Actually look up the screen specified and use its coordinates;
* `Style * IconBox screen <screen_name> ....` will mean windows on `<screen_name>` will use the IconBox style for that screen.

I can't reproduce the moving ic

[2020-06-09 10:43] afhp-2020 commented on #40
Hello Thomas,

No problem regarding the delay, I'm sure life is interfering :)

A clean build of `gh-40` makes things kind of worse. Consistent with the new semantics you describe above, but with unexpected effects.

* Iconbox definition is unchanged:
`Style * IconBox screen $[monitor.primary] 0 -40 -1 -1, IconGrid 40 40`
* Iconify function is back to its simplest expression:
[code]
Now for the te

[2020-06-09 10:46] afhp-2020 commented on #40
[fvwm3-output.log.gh-40.txt](https://github.com/fvwmorg/fvwm3/files/4751661/fvwm3-output.log.gh-40.txt)

[2020-06-09 10:46] ThomasAdam commented on #40
Hi @afhp-2020,

Thanks for the additional information.  If you can take a video of what's going on, that will help.

Cheers,
Thomas

[2020-06-09 12:31] afhp-2020 commented on #40
Video sent by e-mail, too large for github.

[2020-06-15 22:44] ThomasAdam commented on #44
Hi,

Please do have a look at `master` now that I've merged this pull-request.

To configure `FvwmPager` instances to limit them to a specific monitor, you must now issue the following configuration line:

`*FvwmPager: Monitor `RandRName``

Where `FvwmPager` is the module configuration alias you're using for `FvwmPager`, and `RandRName` denotes a specific monitor name.

This is mostly useful only

[2020-06-15 22:44] #44 closed

[2020-06-17 19:50] mikeandmore commented on #89
Would CMake be a good idea for FVWM3?

[2020-06-17 19:59] ThomasAdam commented on #89
Possibly.  I'm more familiar with autotools -- but if you had a good reason for us to consider CMake, I'd happily listen.

Would you be willing to help with that?

[2020-06-18 01:27] mikeandmore commented on #89
I don't have a better reason, other than it's more recent.

I can help with this, but unfortunately, I'm not really familiar with autotools...

[2020-06-24 00:18] somiaj opened #135 "FvwmIconMan won't correctly apply colorsets when swallowed"
When FvwmIconMan is swallowed in FvwmButtons and a colorset is used as the background color and FvwmIconMan is set to grow with number of buttons, the background won't be filled in the unused area. See the black area in the screenshot here.

<http://sobalvarro.co/fvwm.png>

Manually coding the background color works, but using a colorset does not.

[2020-06-24 01:27] #135 closed

[2020-06-26 15:46] lgsobalvarro commented on #124
With FVWM3 default config Steam works fine. So there must be something on my config that causes this in FVWM3. I'll try to find out exactly what and why it does not affect FVWM2.

[2020-06-26 15:54] lgsobalvarro opened #142 "FvwmPager sometimes ignores styles"
Using the default config I have notice sometimes FVWM3 ignores styles for Pager.

![Screenshot_20200626_102948](https://user-images.githubusercontent.com/1160397/85876026-b94e8980-b79a-11ea-8401-9b980fe1e98c.png)
I did change my wallpaper from Florar to Space. After log out and then login, the Pager ignored all styles as can be seen in the screenshot. A restart fixed this issue but it reset the ba

[2020-06-26 16:24] ThomasAdam commented on #142
@lgsobalvarro -- when did you first notice this happening?  Does the same thing happen on FVWM2?

[2020-06-26 16:32] lgsobalvarro commented on #142
I notice this yesterday. And no, it doesn't seem to happen on FVWM2. I haven't being able to reproduce this with restart as I can on FVWM3

[2020-06-26 19:02] okraits opened #143 "Properties of windows are lost after a restart"
When the Restart command is executed, properties of windows are lost after the restart:

* the maximized state is lost
* windows are moved to a previous position
* it even occured that windows are iconified after the restart

Running fvwm3 8ba1ac7009f45d16a08ec1eedb9cdd61615fb789.

[2020-06-26 22:20] lgsobalvarro opened #144 "EdgeScroll not working properly when values change via FvwmConsole"
When `DesktopConfiguration` is set to `global`, `EdgeScroll 0 0` and you change it on the fly via FvwmConsole to  `EdgeScroll 100 100` Scrolling to the right does not work. It does scroll fine up=>down, down=>up and right=>left, but left=>right is broken. However if I set `EdgeScroll 100 100` as default in my cfg and restart it does work fine.

If `EdgeScroll 100 100`  is the default and you switc

[2020-06-26 22:26] ThomasAdam commented on #144
Yes, this is the same as #82 -- it's already broken.

Thanks for the extra information though.

[2020-06-26 22:26] #144 closed

[2020-06-27 23:24] SolubleShoe opened #145 "Feature Request: Enable using the 'c' unit with the "MinWindowSize" and "MaxWindowSize" styles"
Currently fvwm can resize windows using units defined by the client application. But for some reason those units can't be used when defining a minimum or maximum window size.

Quote from the man page:

What I would like is to be able to say:
`Style "termite" MinWindowSize 80c 24c`
But that is not currently supported, you can only use percentage of screen size or pixels. If i could use the 'c' suff

[2020-06-29 08:33] okraits opened #151 "Two issues with the WindowList"
`Silent Key Tab A M WindowList (CurrentDesk,!Iconic) Root c c CurrentAtEnd,NoCurrentDeskTitle`

The menu title with the desk name/num should not appear with `NoCurrentDeskTitle` set. But if there aren't any windows on that desktop, it appears (with no menu items except the title).

`Silent Key a A 4 WindowList Root c c TitleForAllDesks,NoCurrentDeskTitle,NoGeometryWithInfo`

If `NoGeometryWithInfo

[2020-06-30 17:03] lgsobalvarro commented on #124
After rebuilding my config (based on the defualt) and trying to find out what could possibly be the problem. I realized all my tests where being done on desktop 0 and steam didn't crash. When I switch to desktop 1 it crashes every single time.. Same errors as seen in steam.txt

[2020-07-09 07:42] telerman opened #162 "Typo in configure script line 535, confusing libbson error message"
In case libbson-devel is not installed (or version mismatch) the error message says:
 lib**n**son not found.  Install its header files.

[2020-07-09 07:57] ThomasAdam commented on #162
Hi @telerman,

Thanks for spotting this. Surely you can send a pull request through to fix this? :-)

[2020-07-09 11:24] telerman commented on #162
Hi @ThomasAdam
Thanks for reply.
I'll be glad to fix it, but I'm pretty new in such projects in Github and I'm not familiar with pull requests policies. Should I create a branch? How should the change be merged to master? Could you please instruct me or link to a documentation?
Thanks

[2020-07-09 12:05] ThomasAdam commented on #162
Hi @telerman,

Sure, that's pretty much it.  Have a read of:

https://github.com/fvwmorg/fvwm3/blob/master/dev-docs/DEVELOPERS.md#submitting-pull-requests

Let me know if there's anything you need my help with.

[2020-07-09 18:54] klebertarcisio opened #163 "FScreenGetScrRect function"
Hi everyone,

I would like to understand a little more about the FScreenGetScrRect function:

https://github.com/fvwmorg/fvwm3/blob/48dd50909b97170d517aa02c735cc86881564cb6/libs/FScreen.c#L636-L656

This function may not change the values of **x, y, w** and **h**. That way, I always have to pass **x, y, w** and **h** initialized, right? If I don't pass these initialized values, I can't guarantee t

[2020-07-09 18:59] ThomasAdam commented on #163
Hi @klebertarcisio,

Yes, there's a small risk, but that's not the point here, because:

* Most compilers will set the value to 0 if undeclared in this case;
* The context for these callers is such that it's very unlikely we're going to fail finding a screen to set the values in the first place.

[2020-07-09 18:59] #163 closed

[2020-07-09 19:05] danespen commented on #163
Thomas Adam <notifications@github.com> writes:

You're the expert, but as I remember, the built in default iconbox that covers the root
can't be removed.  Not sure what you are doing with multiple monitors
that can be turned on and off, but the basic idea of the iconboxes was
to have a grid to fall back to.

--
Dan Espen

[2020-07-09 19:13] ThomasAdam commented on #163
Hi @danespen,

Yes -- that's still the case here; per screen iconboxes can be definedm and come and go depending on whether the monitor is attached or not.  The `PRIMARY` monitor is now always set regardless.

[2020-07-09 19:28] klebertarcisio commented on #163
To contribute to this discussion, I will post a few more places that the **FScreenGetScrRect** function is used in a similar way.

**FScreen.c**
https://github.com/fvwmorg/fvwm3/blob/48dd50909b97170d517aa02c735cc86881564cb6/libs/FScreen.c#L661-L684

**FvwmIdent.c**
https://github.com/fvwmorg/fvwm3/blob/48dd50909b97170d517aa02c735cc86881564cb6/modules/FvwmIdent/FvwmIdent.c#L787-L813

[2020-07-10 01:36] #124 closed

[2020-07-10 03:12] klebertarcisio opened #164 "Safe sprintf call"
Hi everyone,

I would like to know what do you think about these sprintf calls:

https://github.com/fvwmorg/fvwm3/blob/48dd50909b97170d517aa02c735cc86881564cb6/modules/FvwmIdent/FvwmIdent.c#L1332-L1335

In this case, x and y are integer variables, but max_aspect is a char of just 11 bytes.
See this toy example:
**sprintf (mymin_aspect, "% d % d", 111111, 111111);**
In this case, we have an overflo

[2020-07-10 08:17] ThomasAdam commented on #164
Hi @klebertarcisio,

Yes, the compiler is starting to spit these warnings out now, as is the static analysis tool we're using.  See:

https://github.com/fvwmorg/fvwm3/issues/107

I'm all for fixing these, however, what I'd rather see are things like this changed as a result of bug-fixes in that area of the code, rather than necessarily going through all of these things piecemeal.

A lot of what yo

[2020-07-11 01:39] somiaj opened #165 "Libstroke?"
Fvwm is one of the few packages that still depends on libstroke. How used is this feature? Is it worth keeping this dependency around in fvwm3?

[2020-07-14 08:12] telerman commented on #162
Hello Thomas!
I've read the document and proceed with the instructions:
Added FVWM3 repo as upstream remote (in my local working copy of fvwm3)
git remote add fvwmorg https://github.com/fvwmorg/fvwm3.git && git fetch
fvwmorg
Created the topic branch:
git switch -b ort/fix-typo-162
Rebased it against the fvwmorg/master
git fetch && git rebase -i fvwmorg/master
Then, when I tried to push the changes

[2020-07-14 08:17] ThomasAdam commented on #162
Hi @telerman,

So it seems that your `origin` remote is pointing to `fvwmorg`'s fvwm3 repository -- `origin` should be pointing to your fork of `fvwm3`.  If you look in `./.git/config` in your cloned repository, you should have a section which looks similar to this:

[code]

Here, the `url` should match the location of your fork on Github.

[2020-07-14 08:31] telerman commented on #162
Thanks! It seems I missed the fork part in the flow. Now I forked the repo
to my account and successfully pushed the change to it.
Please let me know if there are any further steps.

Regards
Oleg R.T.

On Thu, Jul 9, 2020 at 3:05 PM Thomas Adam <notifications@github.com> wrote:

--
-- Oleg T.

[2020-07-24 21:03] #162 closed

[2020-07-24 21:10] #165 closed

[2020-07-26 09:29] MasterP-theGu opened #172 "ModuleMFL doesn't appear to open socket"
I start ModuleMFL from config file.
I call ~/go/bin/FvwmPrompt.
I get:
`2020/07/26 11:19:14 Connection error dial unix /tmp/fvwm_mfl.sock: connect: no such file or directory`
...
I (then) start Module FvwmMFL (again) from FvwmConsole.
I call ~/go/bin/FvwmPrompt
I get:
[code]
...
I then touch /tmp/fvwm_mfl.sock
I call ~/go/bin/FvwmPrompt
I get:
`2020/07/26 11:20:00 Connection error dial unix /tmp/f

[2020-07-26 10:54] MasterP-theGu commented on #172
Master_P_the_Gu is manually closing the issue, with a confidence of 1.00 as the current master version now works as expected.

[2020-07-26 10:54] #172 closed

[2020-07-26 14:52] ThomasAdam commented on #143
Hi @okraits,

Is this issue happening regardless of the number of monitors you're using?  That is to say, does it happen with just one monitor, or more than one?

Thanks,
Thomas

[2020-07-26 19:14] okraits commented on #143
Hi Thomas,

it happens on my laptop with one display as well as on my desktop with two displays.

Oliver

[2020-07-29 22:16] ThomasAdam commented on #31
This has now mostly been completed via `FvwmMFL` -- will eventually move in to the core.

[2020-07-29 22:16] #31 closed

[2020-07-29 22:17] #77 closed

[2020-07-30 16:46] MasterP-theGu opened #177 "fvwm-menu-desktop only produces half the xdg-menu"
From roughly the penultimate (?) update of master branch on, my XDG-menu is broken. The script only produces up to Graphics, and from Internet onwards, the items remain empty. Here's the end of the output, beginning with the final working entry "Grafik":

[code]

[2020-07-31 13:07] ThomasAdam commented on #177
@mikeandmore -- can you take a look at this?  Presumably related to the work you've recently done?

[2020-08-03 02:43] mikeandmore commented on #177
Sure.

It looks like PIL doens't support this particular xpm. Can you upload this xpm to github so that I can take a look?

I think I should catch the exception when this happens too...

[2020-08-03 08:30] MasterP-theGu commented on #177
Thanks!
I could upload it if there was one. I guess it's xdvi that's causing the trouble as the libreoffice draw icon works fine.

My xdvi is part of texlive-bin, and these are the files that come with it:
[code]
xdvi.desktop looks like this:

[code]

In my lunchbreak, I'll try to manipulate the .desktop file so that it includes an Icon and let you know if that works (but that wouldn't solve the o

[2020-08-03 14:49] mikeandmore commented on #177
Do you happen to have a `XDvi.xpm` under `/usr/share/icons` or any of its sub-directories?

I'm sure I can make this error disappear, but I just think it's better to display the icon if we can find one...

[2020-08-03 16:45] MasterP-theGu commented on #177
Initially, no, the texlive-bin package that's installed doesn't provide an icon at all.
Apart from that, I haven't got any xpm icons in the path you're referring to, they're png, svg.
However, I `convert`ed xreader.png into xdvi.xpm to at least have an xdvi.xpm at hand.
Without modifying xdvi.desktop, nothing changes, so I'm not going to re-post the same error-output, hope that's ok.
Modyfying xdv

[2020-08-04 01:39] mikeandmore commented on #177
I created #178, but it just ignores the broken file.

I suspect XDvi is actually fine, it's another xpm that's corrupted. This PR will at least print out which file is broken. Then we can see what does it take to display that xpm file.

[2020-08-04 23:50] #177 closed

[2020-08-05 12:39] MasterP-theGu commented on #177
Hi, I am most awfully sorry, but nothing I can see has changed. The same error appears in the same place. :(

If it helps: I've now also tried to remove "xpm" from the fvwm-menu-desktop scriptfile, but to no avail.
Similarly, removing my old ~/fvwm/icons doesn't do the trick, either. I am still stuck somewhere between libreoffice Draw and Xdvi.

[2020-08-05 21:31] mikeandmore commented on #177
Does the following patch work?

[code]

[2020-08-08 21:47] mikeandmore commented on #177
@MasterP-theGu ping?

[2020-08-10 14:43] MasterP-theGu commented on #177
@mikeandmore pong.
Sorry, I was very busy and more or less offline for a while, but things should become calmer now in my neck of the woods, so...
As soon as I'm on the machine in question, I'll try out the patch you posted and let you know. Thanks a lot for working on this, and apologies for having been shtum these past few days.

[2020-08-10 17:15] MasterP-theGu commented on #177
It works perfectly! :D
There are a couple of xpm's that fail converting:
[code]
They're all original xpm's from /usr/share/pixmaps and the one I created using convert for one of my previous reports in this thread.
Other xpm's from /usr/share/pixmaps work fine and appear in the menu. I attach all the XPMs, maybe you find out what prevents some from working.
Cheers!

[MasterPsXPMs.zip](https://githu

[2020-08-12 15:35] mikeandmore commented on #177
@MasterP-theGu these XPM files are weird. I can only open some of them with GraphicsMagick, and none with PIL/Pillow. I guess I'll just skip these.

[2020-08-12 16:48] MasterP-theGu commented on #177
@mikeandmore I cannot judge the weirdness of XPM files. :D
But I can add info. All of the original XPMs that I packed are included in the official arch packages for armv7h architecture, hence every Arch user will have the same weird files, at least on this architecture.
Strangely enough, I can open all of them with gm (1.3.35-2), but my pillows (7.2.0-1 as well as 6.2.1-1 w/python2) fail, too, eve

[2020-08-18 23:12] wyatt8740 opened #186 "Function to ignore screen boundaries in multi-monitor setups (when maximizing/full-screening)"
This is a request, because I didn't see it in the man page; admittedly, I just searched through it using some common terms.

Basically, I'd like something whereby the entire display space can be treated as a single logical screen (for video walls, for instance). When maximizing a window, therefore, it would span across all monitors.

I was able to imitate this using the `Xinerama` command to turn

[2020-08-18 23:18] ThomasAdam commented on #186
Hi @wyatt8740,

You can wrangle `xrandr` to do this with version >=1.5.0 by specifying your own monitor size (which in you case would be the combined logical size of both your monitors).  Then you could make `fvwm` honor that screen however you liked.

The other approach is to write your own fvwm function which passes the parameters to `Maximize` to make such a window cover both monitors.

RandR i

[2020-08-20 21:36] wyatt8740 commented on #186
Ah, thanks, @ThomasAdam . If it's not optional, the man page (`doc/fvwm/fvwm3.1`) needs updating to address that.

[2020-08-20 21:38] wyatt8740 commented on #186
(I'll close this; I'm still not sure which xrandr option I need exactly, but there are just a few that are probable I think. My first guess is `--fb`.)

[2020-08-20 21:38] #186 closed

[2020-08-20 21:50] ThomasAdam commented on #186
@wyatt8740,

If the man page is misleading, then please do submit a PR to address that...

[2020-08-21 02:02] wyatt8740 commented on #186
Will do; sorry. I was in a rush earlier.

[2020-08-21 02:02] wyatt8740 commented on #186
Will do; sorry. I was in a rush earlier.

[2020-08-24 17:33] kamgha opened #189 "SnapAttraction: consider both axis of adjacent window during move"
This is probably rather a proposal to improve the behaviour of `SnapAttraction` than a bug:

The example uses `Style * SnapAttraction 40 SameType Screen` and I am referring to the behaviour of windows in my use case, icons could be affected in the same way as well.

I'd like to be able to position a window adjacent to another window, and having both snap it to the same y-position (or x-position, d

[2020-08-26 20:04] somiaj commented on #189
Would use SnapGrid work for your use case? (this way you can snap all windows to a grid to allow same x or y value?)

[2020-08-26 20:29] kamgha commented on #189
No, `SnapGrid` creates a fixed grid on the whole screen. The desired snap is for an adjacent window at an arbitrary position, e. g. to match the top, the bottom, the left or the right edge into a line. Example: Two xterm windows, same dimensions, shall be put side-by-side. The current behaviour allows to snap them together, but not snap their top/bottom lines together to form a wider box.

Here is

[2020-08-26 20:38] somiaj commented on #189
But you could snap both of the xterms to the same grid line, giving them the same height. Just stating you can almost get your desired result if your desired result is to have them at the same height. Anyways, just a suggestion.

[2020-08-26 20:47] kamgha commented on #189
The `SnapGrid` is fixed onto the whole screen, `SnapAttraction` snaps only on nearby windows, which themselves can be at an arbitrary position.

In general, this is a proposal to improve the behaviour of `SnapAttraction`. If the current behaviour is indeed intended, the other idea may allow for more flexible configurations.

[2020-08-26 21:10] ThomasAdam commented on #189
I'm certainly not going to be adding yet another option.

The current behaviour was never intended to support your suggestion, @kamgha -- but it's one that should be fixed as such.  I just haven't given any thought about how to do this.  I suspect changing `SnapAttraction` is the correct thing to do.

[2020-08-29 13:22] tilmanKranz opened #191 "no check for libxt-dev when fribidi is enabled"
version: current master
environment: debian 10 amd64
procedure: `./autogen.sh && ./configure && make`
error:
[code]
workaround: `apt install libxt-dev`
proposed solution: use pkg-config to check for xt if fribidi is enabled.

[2020-08-29 13:56] #191 closed

[2020-09-01 14:31] NsCDE opened #195 "New versioning scheme of FVWM3 RC0 break Version test condition."
Hi,

Things like:

Test (Version >= 3.0.0) SetEnv FVWM3_LOGFILE ~/.NsCDE/tmp/fvwm3.log
Test (Version >= 3.0.0) InfoStoreAdd xlogcmd "tail -300f ~/.NsCDE/tmp/fvwm3.log"

Worked during development and playing/testing with fvwm3, but now with RC0 this returns 1.0.0, which is way to small for this, and even triggers a trigger which checks if it is >= 2.6.7.

It is not clear if this 3 in "fvwm3" is maj

[2020-09-01 14:42] ThomasAdam commented on #195
Hmm.  I daresay an RC-X might break this.  Still not sure about 3.0.0 -- that is misleading, since it's not the 3rd release of fvwm3, it's the first release at 1.0.0

[2020-09-01 14:42] ThomasAdam commented on #65
https://github.com/fvwmorg/fvwm3/issues/195

[2020-09-01 15:07] NsCDE commented on #195
You should definitely make some choice and consistent system here.

P. S.
I have sent mail about FvwmMFL on fvwm@fvwm.org, I'm subscribed (at least I think I am) I don't know why my messages get stalled and do not reach the list.

[2020-09-01 15:25] ThomasAdam commented on #195
Probably HTML email.  Send it to me directly:  thomas@fvwm.org

[2020-09-01 21:52] ThomasAdam commented on #195
Right now, the convenience of using the same configuration file between fvwm2 and fvwm3 is just that -- convenience.  I know I keep saying the syntax hasn't changed, and that you can (at the moment) use the same config file on both -- that's still true.

But at some point soon, they will diverge, and at that moment, that's when I won't be able to support having one config file for both.  Right now

[2020-09-01 21:55] #195 closed

[2020-09-01 22:15] ThomasAdam commented on #195
Please see https://github.com/fvwmorg/fvwm3/commit/9b4a2405b29486393f6fbc938bd266d1c8162508 as a stop-gap for now.

[2020-09-02 20:51] ThomasAdam opened #198 "FvwmPager: moving windows inside FvwmPager is inconsistent"
When `FvwmPager` became `per-monitor` aware, this worked for scrolling around pages.  But this no longer works very well when moving windows within `FvwmPager` to new desks/pages.

@somiaj has the following logic to fix this:

[code]

This is probably all via `modules/FvwmPager/x_pager.c:MoveWindow()`

[2020-09-02 20:54] ThomasAdam commented on #52
AFAICT, this should be fixed now?  I can't reproduce this, but if it's still a problem, please reopen this issue, adding any further relevant details.

[2020-09-02 20:54] #52 closed

[2020-09-02 20:56] ThomasAdam commented on #40
I'm going to leave this as-is for the 1.0.0 release; moving the target milestone to post-1.0

[2020-09-03 22:33] afhp-2020 opened #200 "Unable to build 1.0, bson.h not found [FreeBSD 12.1]"
I saw the release of 1.0, so I cloned the repository into a new directory and started building.

The first run of `./autogen.sh` complained about libbson, so the package was installed. The second run completed without error. There is no error reported by `./configure` either.

`make` fails with:
[code]
Build system is FreeBSD 12.1-RELEASE-p5 with all packages up-to-date as of 2020-09-03.

[configu

[2020-09-03 22:57] ThomasAdam commented on #200
I wonder if this is `libbson/bson.h` versus just `bson.h`? Can you try making that change to FvwmMFL.c?

[2020-09-03 23:09] afhp-2020 commented on #200
Now that you pointed me in the right direction...

Replacing the include with `libbson/bson.h` also failed.

However, `pkg info -l libbson` yields
[code]
So, replacing the include with `libbson-1.0/bson.h` seems to fix the issue.

I suspect some special case will be needed in `configure` or an `ifdef` or something similar, so I'll re-test with a full build whenever ready.

Regards,
A.

[2020-09-03 23:18] ThomasAdam commented on #200
Cool.  That's annoying as I tested an older version of FreeBSD.

Keep that patch for now, and let me know of any functional problems instead.

[2020-09-04 16:34] MasterP-theGu opened #202 ""version of go" misinterpreted by configure script?"
Hi,
sorry I haven't had a lot of time recently to keep my fvwm3 up to date and build all versions. I've just built
`Version:     1.0.0 (1.0.0-4-gbe72081a)`
with `--enable-golang `option to get fvwm3-prompt working from within the fvwm3 build itself rather than from building it on its own and manually adding it. I haven't had any problem with the new prompt, so my go install seems to suffice for it

[2020-09-04 17:15] xuzhen opened #203 "_NET_WM_STATE was not updated for maximized windows"
Steps to reproduce:
1. Bind Alt-M ```Key M A M Silent Maximize```
2. run ```xprop | grep _NET_WM_STATE``` to show the property of a non-maximized window. It should be empty
3. Press Alt-M to maximizing that window
4. run `xprop | grep _NET_WM_STATE` again. It is still empty.

After changing https://github.com/fvwmorg/fvwm3/blob/master/fvwm/ewmh_events.c#L737 and https://github.com/fvwmorg/fvwm3/bl

[2020-09-04 17:26] ThomasAdam commented on #203
Hi @xuzhen,

Interesting. Please can you submit a PR?

[2020-09-04 21:54] #203 closed

[2020-09-05 10:33] dirteat opened #206 "fvwm3 man and default paths to config files?"
Hi there,
I've just packaged fvwm3 on Mageia linux, because I love it and I am a 20 years-long user of fvwm2. So far, it just works fine with our distributed config. I've just spotted two things:

1) looks like there is no "man fvwm3" generated

2) I think some "recap" of the default paths and names of the config files searched by fvwm3 when it starts would be welcome, maybe in the missing man?
We

[2020-09-05 10:38] ThomasAdam commented on #206
Hi @dirteat

To generate the man page, you'll need to use: `configure --enable-mandoc`.

As for config path changes, there aren't any yet.

[2020-09-05 11:43] dirteat commented on #206
Perfect! Done and reading it, beautiful!

Thank you.

[2020-09-05 11:43] #206 closed

[2020-09-05 16:40] ThomasAdam commented on #200
Hi @afhp-2020,

Please take a look at the linked PR, and let me know if this fixes your issue.

Thanks,
Thomas

[2020-09-06 16:02] MasterP-theGu commented on #202
Hi @ThomasAdam ,

yes, all's fine now :D Cheers!

Best,
Peter

[2020-09-06 16:06] ThomasAdam commented on #202
Thanks. Will merge.

[2020-09-06 16:07] #202 closed

[2020-09-06 16:19] ThomasAdam opened #208 "EwmhBaseStruts missing screen info from manpage"
`EwmhBaseSfruts` is missing how to detail the screen information in `fvwm3`.

[2020-09-06 16:35] #208 closed

[2020-09-07 15:08] MasterP-theGu commented on #202
Hi @ThomasAdam ,

yes, all's fine now :D Cheers!

Best,
Peter

[2020-09-08 15:53] ThomasAdam opened #211 "PositionPlacement Center: fix to use current screen"
When using `Style foo PositionPlacement Center`, the screen parameter isn't being used, meaning this has no effect on the window.

[2020-09-08 16:01] #211 closed

[2020-09-09 02:14] dustincys opened #215 "FvwmIconMan: width of the FvwmIconMan & FvwmPager"
Fvwm3 is set up on two monitor:
- VGA-1, extra monitor 1920x1080
- LVDS-1, laptop monitor 1366x768 (primary)

here is the screenshot: ![](https://raw.githubusercontent.com/dustincys/hifvwm/screenshots/Screenshot%20from%202020-09-08%2021-03-23.png)

Bugs:
1. Here if LVDS-1 is set as primary, then the width of FvwmIconMan in Monitor VGA-1 (upper) is less than or equal to 1366.
2. The pager in VGA-1

[2020-09-09 02:38] dustincys commented on #215
Another issue about FvwmPager,

here is my config:

[code]

I could move window successfully, but I find that, there remains an icon "shadow" in the pager
![](https://raw.githubusercontent.com/dustincys/hifvwm/screenshots/fvwm3-3.png)

[2020-09-09 02:58] dustincys opened #216 "FvwmPager: show an icon shadow after move window to another screen"
here is my config:

[code]

I could move window successfully, but I find that, there remains an icon "shadow" in the pager
![](https://raw.githubusercontent.com/dustincys/hifvwm/screenshots/fvwm3-3.png)

[2020-09-09 08:51] #215 closed

[2020-09-09 08:54] ThomasAdam commented on #216
No idea what you're talking about.

[2020-09-09 08:54] #216 closed

[2020-09-10 17:51] afhp-2020 commented on #200
Hello Thomas,

Sorry for the delay.

I just pulled ta/gh-200 and it built without error.

Regards,
A.

[2020-09-10 18:58] #200 closed

[2020-09-12 11:57] NsCDE opened #223 "FvwmPager not taking into account global screen dimensions when configured with DeskTopScale"
Hi,

Testing continues ...

DesktopConfiguration: (implicit global)

FvwmPager in [this](https://github.com/NsCDE/NsCDE/blob/fvwm3_support/NsCDE/config/NsCDE-Pager-GlobalPager.conf) configuration scales wrongly on primary, but correctly on secondary display. It is not called as transient but permanent pager with mouse action on root window menu. Restart of FVWM doesn't have impact on change.

Visu

[2020-09-12 11:58] ThomasAdam commented on #223
@somiaj - one for you. Any thoughts?

[2020-09-12 12:04] NsCDE commented on #223
To correct myself: in sub-test when FvwmPager is called on secondary display, in extended geometry on Screenshot2.png windows from the primary desktop ARE shown, but I cannot find a way to reproduce this glitch currently. Most of the time is like on screenshot 3 - see below.
![Screenshot3](https://user-images.githubusercontent.com/48650374/92995131-d9bbf380-f500-11ea-948d-e8f8f7f3fe9a.png)

[2020-09-12 12:52] NsCDE opened #224 "FvwmButtons subpanels not popped out on primary monitor when desk is > 0"
Hi,

I have tried this one with FVWM2, and it is not some long standing bug.

There is main FvwmButtons panel "front panel" ([configuration](https://github.com/NsCDE/NsCDE/blob/fvwm3_support/NsCDE/config/NsCDE-FrontPanel.conf)) and it has launchers for transient [subpanels](https://github.com/NsCDE/NsCDE/blob/fvwm3_support/NsCDE/config/NsCDE-Subpanels.conf). This works ok with one monitor, but on

[2020-09-12 20:23] ThomasAdam commented on #224
Hi @NsCDE

Thanks. I presume this happens regardless of how `DesktopConfiguration` is set?

BTW, why don't you join us on IRC? #fvwm on freenode

-- Thomas

[2020-09-12 21:26] NsCDE commented on #224
Hi @ThomasAdam

1. Yes, just tried DesktopConfiguration per-monitor and this does not seems to be relevant in this case.

2. Thanks for the invitation. I was USENet user long ago, IRC somehow passed beside me. I can try to find some IRC client. :)

[2020-09-12 22:26] ThomasAdam commented on #224
Hi @NsCDE,

Please try this patch on top of `master`:

[code]

[2020-09-12 22:42] ThomasAdam commented on #223
Hi @NsCDE,

Please can you take a look at `ta/gh-223` branch?  I am not sure I'm fully reproducing this problem correctly, but perhaps the commit I've added on that branch helps?

[2020-09-13 06:11] NsCDE commented on #224
Hi @ThomasAdam

Yes, this makes a change and fixes this behaviour half way, but introduces really interesting behaviour, let's try without mp4 this time:

* Subpanels are opened normally on both monitors and all existing desks
* If main front panel is moved to secondary monitor, subpanels appear on the screen every second time
* If main front panel is moved back, behaviour from step above remains

[2020-09-13 06:35] NsCDE commented on #223
Hi @ThomasAdam

This is for global desktop configuration ...

With this change, FvwmPager is of the right size (after Restart when monitor is added) on both monitors and shows applications on right places for workspace 1 (desk 0). If I add

`*GlobalPager: Monitor $$[pointer.screen]`

... at the end of configuration, it rightly shows only windows from the current pointer screen monitor, but geometr

[2020-09-13 07:24] ThomasAdam commented on #223
Hi @NsCDE

OK... Do you still get this problem if you hardcore the name of one monitor?

`*FvwmPager: Monitor foo` Vs `*FvwmPager: Monitor $$[monitor.pointer]`

As for your other observation, please feel free to open an issue!

[2020-09-13 14:38] NsCDE commented on #223
Hi @ThomasAdam

Problem with hardwiring RandR monitor name as I have tried now is issue topic by itself.

I have Virtual-0 and Virtual-1 in test environment. If I use $$[pointer.screen] or $$[monitor.pointer] I get at least pager for separate screens, no matter how aspect ratio of pager is that of the both monitors, **but** with explicit name in Monitor option behaviour is currently like "Monitor"

[2020-09-14 15:53] ThomasAdam opened #226 "perllib: doesn't understand MX_MONITOR_* events"
When `Fvwm3` became aware of separate monitors, perllib wasn't updated to be made aware of the new events.  If perllib receives events it doesn't know about, it dies.

[2020-09-14 16:01] #226 closed

[2020-09-14 18:04] ThomasAdam commented on #224
Hi @NsCDE,

Can you try the ` ta/panel-map` branch, and let me know if that fixes this issue?  I believe it to...

[2020-09-14 22:53] ThomasAdam opened #228 "FvwmEvent: missing `monitor_focus` event"
The event for `monitor_focus` is defined in `Fvwm3` and in use by `FvwmPager`, but has never been exposed to other modules such as `FvwmEvent`.

This needs adding.

[2020-09-14 22:58] #228 closed

[2020-09-15 07:15] NsCDE commented on #224
Hi Thomas, sorry unplanned busy day on work yesterday.

Compiled, tried ... success. This fixes #224 according to my tests now.

[2020-09-15 11:31] #224 closed

[2020-09-15 14:55] ThomasAdam commented on #223
Hi @NsCDE,

Yeah OK.   I see what you mean.  I have this:

[code]

With this config, on both `fvwm2` and `fvwm3`, I get a pager which appears to be large enough to fill two monitors, but the last part of the window is "dead".  I can't do anything with it.  This is clearly a bug.

If you remove the `Columns` and `Rows` config options from your pager config, how do things look then?

[2020-09-15 16:50] NsCDE commented on #223
Hi @ThomasAdam

I'm happy to help with RandR debugging, but I must admit I'm not using two monitors often with fvwm2, so the news that there is a bug with FvwmPager even on fvwm2 is news to me too.

This about part of the pager window being dead ... I don't know how to reproduce this. I didn't had this situation.

On what branch to test this? Currently I'm on master because I have tested FvwmButto

[2020-09-15 16:57] ThomasAdam commented on #223
Hi @NsCDE ,

Please use the ta/gh-223 branch for this issue.

Don't worry about fvwm2, it was more an observation on my part that I've not necessarily broken this with my work on RandR.

Hmm, I'm clearly seeing a breakage in using Columns and/or Rows. I must be missing something.

[2020-09-15 20:10] NsCDE commented on #223
Hi

Explicit RandR names of the monitors are now taken into account. However, either with explicit names or with $$[monitor.pointer], FvwmPager size is of the joined monitor 1 and 2 geometry (on both monitors). Windows on left or right monitor are properly shown[1] according to "Monitor" configuration option or it's absence.

[1] That is, while other strange behaviours are not triggered.

[2020-09-15 20:28] NsCDE commented on #223
Additional info:
I was tired, and didn't noticed that without "Monitor" option only left/primary monitor windows are shown in FvwmPager.

[2020-09-16 13:52] ThomasAdam commented on #223
Hi @NsCDE,

OK -- please have another look at `ta/gh-223` -- I've rebased this on master, so you will probably have to:

[code]

[2020-09-16 16:49] NsCDE commented on #223
Hi @ThomasAdam

It seems like windows are still appearing on wrong places.

On RootWinShot.20200916.182554.png My pointer was on desk 2 (Three) page 0,0, and I started geeqie on monitor 1. When I started atril on second monitor, it was showed as it is on desk 0 (One).

On RootWinShot.20200916.182824.png I was with pager on desk 3 (Four) and left monitor and called gwenview. It appeared on screen,

[2020-09-18 06:10] okraits commented on #143
@ThomasAdam I still have an issue of this kind with current master branch.

I just restarted fvwm3 a couple of times and did some tests. It seems to boil down to one thing:

After a restart of fvwm3 (through the menu entry), some windows change their state from being not maximized to being horizontally maximized. This happens to all windows which have been maximized (both horizontally and vertical

[2020-09-23 09:11] rwp0 opened #231 "compilation fails on openbsd-current due to safemalloc.h (va_list)"
compiling release 1.0.0 (tarball) and master (clone) on openbsd-current with gmake from [devel/gmake](https://openports.se/devel/gmake) port results in:

[code]

file: [safemalloc.h](https://github.com/fvwmorg/fvwm3/blob/master/libs/safemalloc.h#L8): va_list

is openbsd supported with fvwm3?

nb. running [autogen.sh](https://github.com/fvwmorg/fvwm3/blob/master/dev-docs/INSTALL.md) was required fo

[2020-09-23 09:52] ThomasAdam commented on #231
Try this:

[code]

As the ports maintainer(s), but I'll certainly make every effort.

Then you didn't download the correct tarball?  Because I certainly didn't need to do that, and the release tarballs assume as such.  This is what's linked from the release notes:

https://github.com/fvwmorg/fvwm3/releases/download/1.0.0/fvwm3-1.0.0.tar.gz

[code]

[2020-09-23 11:30] rwp0 commented on #231
@ThomasAdam thanks

now, compiling release tarball:

[code]

i downloaded wrong [tarball](https://github.com/fvwmorg/fvwm3/archive/1.0.0.tar.gz), which lacked `./configure` script

i believe fvwm3 is not ported to openbsd, although [x11/fvwm2](https://openports.se/x11/fvwm2) exists

[2020-09-23 11:39] ThomasAdam commented on #231
Hi @rwp0,

You're missing libbson (mongo-c-driver), which `./configure` would have complained about.

[2020-09-23 15:31] ThomasAdam commented on #231
Hii @rwp0,

You're also missing `libevent-2` as well.

[2020-09-23 15:38] #231 closed

[2020-09-23 17:44] lgsobalvarro opened #233 "Move to Python 3"
Since Python2 is in it's way out FVWM3 should only look for Python3

[2020-09-23 17:51] lgsobalvarro opened #234 "Fvwm-menu-desktop fails if used with --get-menus"
If I run
`fvwm-menu-desktop --get-menus all`

Or

`fvwm-menu-desktop --get-menus desktop`

I get the following:

[code]
This issue seems to affect FVWM2 as well.

[2020-09-27 19:20] ThomasAdam commented on #223
Hi @NsCDE,

OK -- please take another look at the `ta/gh-223` branch.  You'll have to do this first of all:

[code]

For the test cases that I've used, I can't get things to break -- but do let me know how you get on.

Thanks!

[2020-09-28 06:30] NsCDE commented on #223
Hi @ThomasAdam

Please remind me what exactly to test here. After much debugging I must admint I'm bit lost. :-\

If we are talking about topis of this issue - DeskTopScale configuration of FvwmPager when configured with new "Monitor" option (either $$[pointer.screen] or explicit RandR name), than I must say that it still is taking into account joined monitors while calculating DeskTopScale.

If t

[2020-09-28 07:10] ThomasAdam commented on #223
Hi @NsCDE

Thanks. Feel free to open a separate topic for the positioning of windows when in global mode.

With the recent changes to `ta/gh-223` I haven't been able to make windows move between desks or pages.

As for DesktopScale - I'll have to double check.

[2020-09-28 07:59] NsCDE opened #236 "DesktopConfiguration global inherits behaviour from per-monitor mode"
When FVWM3 is not configured in per-monitor mode, or explicitly configured as global, desks behaviour is inconsistent. It looks like active desk is changed only for active monitor (where pointer resides). This can be confirmed by looking into FvwmPager and calling FvwmIdent on newly opened windows which are on monitor opposite of the one which was active during GotoDesk - in other words, this wind

[2020-09-28 11:26] NsCDE commented on #223
Hi,

FYI, I found some time now to test a bit ... and here are my observations:

I can't find apps jumping in FvwmPager except sticky windows of course. It was hard to distinguish which was fvwm3 itself misbehaviour regarding #236 and what was FvwmPager itself, but now it looks like FvwmPager (and FvwmIdent) is more accurate than fvwm3. :-)

The subject of this issue looks like is still present -

[2020-09-28 11:50] ThomasAdam commented on #223
Hi @NsCDE,

Hehehe -- thank you.  I've split out the code between this issue and 236, so that this issue is just concentrating on the DesktopScale problem, and 236 is focusing on the "jumping windows".

[2020-09-30 15:25] NsCDE commented on #236
Hi Thomas,

Testing this in global and per-monitor mode and I don't see this iregularities any more. I think you fixed it.

[2020-09-30 15:44] #236 closed

[2020-10-02 19:32] ThomasAdam opened #241 "EwmhBaseStruts calculations don't use monitor's"
When setting `EWMHBaseStruts screen <foo> 0 0 0 0 1`, the monitor's coordinates aren't being taken in to account.

Mentioned on IRC from @lgsobalvarro.

[2020-10-02 19:37] #241 closed

[2020-10-03 19:10] NsCDE commented on #223
Hi @ThomasAdam

Today's new findings about this:

1. This is the configuration https://github.com/NsCDE/NsCDE/blob/fvwm3_support/NsCDE/config/NsCDE-Pager-GlobalPager.conf

2. Description:

* Configuration where I have direct `*GlobalPager: Monitor $$[monitor.current]` without prefixed condition `Test (EnvMatch FVWM_IS_FVWM3 1)` works in a way that I have one 4:3 Pager on primary screen and this sa

[2020-10-04 17:08] ThomasAdam commented on #143
Hi @okraits,

Thanks for the information.  I can't reproduce this, and the information I asked for doesn't show a problem either.  That's not to say that this issue doesn't exist -- I can believe that it does -- I suspect it's a race-condition somewhere which isn't detailed in the state file you're providing.

Are you still seeing exactly the same problem?  Does it happen every time you restart or

[2020-10-10 14:11] djwf opened #246 "Man page `fvwm3.1` not built by default"
When making and installing fvwm3 from the git repository, using the following commands, the file `fvwm3.1` is not built or installed.

[code]

This is unexpected given the first sentence of the second paragraph in `doc/README`: "By default, only the man page is generated."

If I add `--enable-mandoc` to the configure command, and run the commands below, then the `fvwm3.1` file is created.

[code]

[2020-10-10 14:13] ThomasAdam commented on #246
Hi @djwf

Hehe! Thanks for your eagie eyes! It's deliberate, and the README is wrong. Please submit a PR. Documentation is now opt-in.

Kindly,
Thomas

[2020-10-10 14:15] djwf commented on #246
Got it - so should all the man pages be omitted by default? Or just the main page? I ask to figure out what should be in the PR.

[2020-10-10 14:18] ThomasAdam commented on #246
Hi @djwf

It's technically just the main fvwm3 page as that's what is built via the snake which is docbook.

I wouldn't draw a distinction though, I'd rather the PR just removed the assumption that manages are built for free.

[2020-10-10 14:18] djwf commented on #246
Got it, PR will be inbound shortly!

[2020-10-10 14:49] #246 closed

[2020-10-12 12:53] suntong opened #248 "[feature-request] Global desktop with predefined resolutions"
Is it possible to define global desktops with fixed resolutions? like 1920x1080, 1600x1024, 1440x900, 1368x768, 1280x720, 1024x768, etc

There are many reasons that such feature is desirable, for e.g.,

- When sharing screen during remote meetings, high resolution source screen device will result in tiny fonts on the receiving ends with lower resolutions, thus switching to a lower resolution will

[2020-10-12 12:55] ThomasAdam commented on #248
Hi @suntong,

You might be able to wrangle `RandR` to do this, although this isnt' something Fvwm directly can help you with.

[2020-10-12 12:55] #248 closed

[2020-10-12 13:29] suntong opened #249 "Q: tabbed window like fluxbox"
Hi,

The fluxbox has a unique tabbed window feature.

Does fvwm3 support it as well, or would it?

[2020-10-12 13:36] ThomasAdam commented on #249
Hi @suntong,

It doesn't do so natively -- perhaps in the future.  There's things like `tabbed` which can emulate this if desired.

[2020-10-12 18:10] #249 closed

[2020-10-12 19:52] phileimer opened #250 "Maximize on second monitor gives wrong window size"
I have 2 monitors:
monitor 1: HDMI-2 connected primary 1920x1080+0+0
monitor 2: DVI-I-1 connected 1280x1024+1920+0

If I maximize a window on monitor 2, I get an oversized window: 1920x1080, instead of 1280x1024.

With the attached patch applied to 1.0.1, I get back the right behavior.
[fvwm3_maximize.txt](https://github.com/fvwmorg/fvwm3/files/5367225/fvwm3_maximize.txt)

[2020-10-12 19:55] ThomasAdam commented on #250
Please raise a PR for this patch.

[2020-10-13 13:18] suntong opened #252 "Q: open-desktop icon tray"
All the modern desktop have a standard icon tray to hold all those that support it, i.e., the wifi, sound volume, calendar etc,

I know fvwm3 is only a WM, but is there any plan to support such common icon tray to hold all those that support it?

[2020-10-13 13:20] ThomasAdam commented on #252
Hi,

No there isn't.  See:  `stalonetray` or `trayer`.

[2020-10-13 13:20] #252 closed

[2020-10-13 15:20] ThomasAdam commented on #250
Fixed via 57050fb9b6eb1e5cf903a8f333409ba5caa38040

[2020-10-13 17:28] ThomasAdam opened #253 "Fvwm should provide a Status option"
Plenty of other WMs out there now have a streaming set of data which external applications can subscribe to so that they can represent information in some way.

Fvwm has always had `FvwmButtons` or `FvwmIconMan` to provide an overview of windows, but nothing tying that back to a wider context of all windows or desks as a high-level overview.    Although this information exists, piecing it together

[2020-10-13 17:49] #253 closed

[2020-10-15 10:11] ThomasAdam opened #255 "Add expansion variables for a window's X/Y page"
Currently, there are expansion variables for the current X/Y page, but not for which X/Y page a window is on.

There should be something like `$[w.pagex]` or `$[w.pagey]` for parity.

[2020-10-15 10:17] #255 closed

[2020-10-15 11:19] ThomasAdam opened #257 "status: fix bson_t detection"
When setting bson_t types, ensure the correct values are used.

[2020-10-15 11:22] #257 closed

[2020-10-15 21:34] ThomasAdam commented on #233
Hi @lgsobalvarro -- I believe this is already the case.

[2020-10-15 21:34] #233 closed

[2020-10-15 21:34] ThomasAdam commented on #234
Hi @lgsobalvarro,

I seem to recall a brief conversation about this on IRC, with @somiaj?  @somiaj -- is this an actual problem we need to solve, do you know?

[2020-10-15 21:36] ThomasAdam commented on #164
Hi @klebertarcisio,

Now that things have started to settle -- can you revisit this?

[2020-10-15 21:38] ThomasAdam commented on #142
Hi @lgsobalvarro,

I'm guessing this is still a problem?  Would you be able to give some details about how I might be able to reproduce it?  I tried in your original message, but for me `FvwmPager` always receives its styles.

[2020-10-15 21:38] ThomasAdam commented on #65
Closing, as we're passed this now.

[2020-10-15 21:38] #65 closed

[2020-10-15 21:44] somiaj commented on #234
My only comment was 'it works for me', and I didn't have time to look at why python is not liking it. Since I'm using python 3.7, unsure if there is some change in python 3.8, or something on lgsobalvarro's system causing this ValueError.

[2020-10-15 23:34] ThomasAdam commented on #234
Okey dokey.  @lgsobalvarro, which python version are you using which shows this error?

[2020-10-15 23:42] ThomasAdam opened #260 "Support desktop configuration similar to xmonad/herbstluftwm"
Now that we have `per-monitor` desktops, perhaps it makes sense to consider whether supporting a desktop model such as `Xmonad`'s or `herbsfluftwm` makes sense.  I don't want to emulate `dwm`'s model or `awesome` whereby you define, say, 10 desktops and assign `1..5` on one monitor, and `6..10` on another, as this has always annoyed me.

The `Xmonad` documentation details how they handle desktops

[2020-10-15 23:50] lgsobalvarro commented on #234
Python 3.8.5

[2020-10-16 03:28] klebertarcisio commented on #164
Hi @ThomasAdam, yes, I can do it!

[2020-10-16 15:57] lgsobalvarro commented on #142
I was unable to reproduce this on 1.0.1.

Closing this issue then.

[2020-10-16 15:57] #142 closed

[2020-10-17 10:43] NsCDE commented on #260
Hi @ThomasAdam

I'm reading again and again "Using other workspaces" on Xmodad url which you sent, but I cannot find what is the difference between this and FVWM3 per-monitor DesktopConfiguration. Wha am I missing here?

BTW, if we are talking about desk<->monitor modes, I was thinking for a long time about something which can be called "global+presentation" mode: to have primary monitor like in o

[2020-10-17 11:58] ThomasAdam commented on #260
Hi @NsCDE

Unlike in `per-desktop` where the same number of desktops are copied to each monitor (to be separate from one another), with WMs like `xmonad` and `herbstluftwm`, the desktops are separate from the number of monitors, and instead, each monitor can move between them.

So for example, let's say you had the following number of desktops:

[code]

... and let's say that you have two monitors

[2020-10-17 19:50] NsCDE commented on #260
Hi @ThomasAdam

Finally, at the end of explanation I got it. :)

This seems more simple and less visually confusing then per-monitor. Aspect ratio is preserved too. You can even make configuration option if overlaping desks will swap places on monitors as in this example, or go at the next right or left place, or beginning/end of the row if they are already there.

[2020-10-18 10:36] phintsan opened #262 "FvwmPager and FvwmIconMan do not update after GotoDesk"
After upgrading to Fvwm3 1.0.1 from 1.0.0, FvwmPager and FvwmIconMan do not update after switching to other desk with GotoDesk. They keep displaying the old window configuration instead. Clicking on FvwmPager virtual desk resolves the issue.

The issue happens with the default configuration. For example:

- On Desk 0, open any window.
- Change to Desk 1 by clicking on FvwmPager desk indicator.
- O

[2020-10-18 10:54] ThomasAdam commented on #262
Hi @phintsan

Thanks for this report.  This change looks good to me.  Please can you make a pull-request, and I'll merge it.  I've just tested this when `DesktopConfiguration per-monitor` is set and couldn't see any side-effects.  I must have been thinking something odd when I wrote that.  ;)

This doesn't seem to be related to #223.

[2020-10-18 13:20] phintsan commented on #262
Thanks for your prompt reply.

I left the if-statement there to prevent self-assignment, even though in this case it would be harmless.
Feel free to edit the commit message as it is based on my hypothetical assessment of the root cause.

[2020-10-18 13:21] #262 closed

[2020-10-18 22:47] afhp-2020 opened #264 "Maximize window on primary screen gives small window"
Version 1.0.1 (1.0.0-45-gb1072488), built yesterday evening.
Xrandr: primary 1920x1200+0+240, secondary 900x1440+1920+0.

Any window maximized on secondary screen behaves normally and goes fullscreen on that display.
Any window maximized on primary screen ends up, as per FvwmIdent, sized 1862x211. The width is correct, taking into account struts for a panel; the height, obviously, has been miscalc

[2020-10-18 22:53] ThomasAdam commented on #264
Hi @afhp-2020,

Odd -- this is one of these things I've never been able to reproduce.  Issue #250 was recently created for (I think) the issue you're describing.   If you revert https://github.com/fvwmorg/fvwm3/commit/57050fb9b6eb1e5cf903a8f333409ba5caa38040 does this help at all?

If not, I'll have to roll my sleeves up and take a look.  Is there anything in your config which might be relevant fo

[2020-10-18 23:05] afhp-2020 opened #265 "Style PositionPlacement ignores y percentage"
Given the configuration line defined previously
[code]
the script window is expected to appear at the left of the screen (taking struts into account), 3/4 of the way down as it did previously. Instead, it appears at the top of the screen.

Changing the line (through FvwmConsole) to
[code]
makes it appear where expected.

Modifying the x component (as a percentage, without suffix) behaves as expect

[2020-10-18 23:08] ThomasAdam commented on #265
Hi @afhp-2020

Oh, good.  Looks like I've trampled over some previous value when shoe-horning in RandR.

Don't suppose you're up for submitting a patch to fix this, are you?  :)

[2020-10-18 23:10] afhp-2020 commented on #264
Hi Thomas,

I did see #250 but figured it would be a different issue since in my case it's the primary that misbehaves.

Is there an easy way to revert a specific commit  (I still don't get the hang of git) or should I just manually change the file back in my local tree ?

[2020-10-18 23:14] afhp-2020 commented on #265
I'll give it a look, but no promises :) I'm not that much of a C developer. While I'm at it I should also give #40 a shot...

[2020-10-18 23:17] ThomasAdam commented on #264
Hi @afhp-2020

I suspect the comment about "monitor 2" is misleading, as the maths applies to any monitor -- it's just that it was the second monitor where the issue was noticed.

In terms of what you need to do in git to revert that commit, you just need to type:

[code]

Then do the usual `make clean && make ...` dance.  If that doesn't help fix things, then you can run:

[code]

... to put you

[2020-10-18 23:20] ThomasAdam commented on #265
Heh, thanks!  You don't need to be a C developer, just someone who has more of a brain than I do... ;)

As for #40 -- go for it!  I think I recall starting a pull-request to move things along with that, but since I'm generally ambivalent with how iconic window appear on different monitors for me, I've not really focused on revisiting my fix for that.  Selfish programming, eh?  :)

[2020-10-18 23:36] afhp-2020 commented on #264
Getting weirder.

As I mentioned, no change locally in quite a while, I think I rebuilt shortly after 1.0.0 got release status and did not observe any change or bug at that point.

With the current (latest) code, `Restart`ing without logging out will randomly and incorrectly maximize one or more window; on the current test, one window (Firefox) maximized as described at the beginning of this issue

[2020-10-18 23:44] ThomasAdam commented on #264
Right. Might be related to #143

[2020-10-19 08:16] afhp-2020 commented on #264
Hello Thomas,

Before trying to delve into git bisect, here are a few points:
* version 1.0.1 "release" from tgz exhibits the behavior described here and in #265
* version 1.0.0 "release" from tgz does not build due to #200
* I had enough of a mind (this time...) to make a backup of my working setup before updating, so I can precisely say that `1.0.0-21-ge2c929d5` behaves normally wrt both this is

[2020-10-19 08:17] afhp-2020 commented on #265
Version `1.0.0-21-ge2c929d5` does not exhibit this bug, 1.0.1 release does.

[2020-10-19 08:25] ThomasAdam commented on #265
Hi @afhp-2020

Are you saying this is fixed?

[2020-10-19 08:26] ThomasAdam commented on #264
Hi @afhp-2020

OK, cool.  So you're saying this is fixed?

[2020-10-19 08:54] afhp-2020 commented on #264
No, I'm saying I had a backup to a working version for once :)

Tried bisecting (from within my "broken" build dir) and arrived at:
[code]
Both this issue and #265 appear at the same time.

[2020-10-19 09:03] afhp-2020 commented on #265
Hi Thomas,

It is not fixed: things worked in a previous, 1.0.0 - level version, and are broken as of 1.0.1.

More specifically, bisecting for #264, it broke on
[code]
(both issues appear simultaneously)

[2020-10-19 09:34] ThomasAdam commented on #264
OK.  If you "git revert" this commit, do things work as expected?

[2020-10-19 12:11] afhp-2020 commented on #264
Trying to simply revert that commit led to a conflict. Not sure I resolved it right.

That said,  `fvwm/ewmh.c` changed (back ?) to
[code]
(line numbers from `less`)

and both this and #265 are fixed.

Resulting build identifies itself as (from FvwmConsole) `
version 1.0.1 (1.0.0-47-g8c110042)`,
`git log` show my revert just after commit `8c1100...eb1787`.

Hope this helps.

[2020-10-19 12:56] ThomasAdam commented on #264
Hi @afhp-2020

OK.  So that change was introduced by me (90f7b45841e534819ebe69232528613069217203) to fix a problem where `PositionPlacement undermouse` stopped working on monitors where the x/y positions were >0.

I suspect #251 is related somehow as well.

I'll have to think about how best to fix this.

[2020-10-20 17:51] NsCDE commented on #260
Hi @ThomasAdam

One thought I just came on: in such setup, sticky windows (that is, displayed on more than one screen) will be impossible, and should become unsticked across desks when such DesktopConfiguration is applied. This is probably due to X limitation and not doable without compositing, and FVWM and FVWM3 does not compose.
Or am I missing something here?

[2020-10-20 20:33] ThomasAdam commented on #260
Hi @NsCDE

Yes -- that's a good point.  It does make sticky windows useless.  It doesn't have anything to do with X or compositing.   I'm not sure what you're asking.

[2020-10-20 21:20] NsCDE commented on #260
Initially, I was not asking anything, just trying to discuss about this interesting alternative DesktopConfiguration idea. But now, question emerges how sticky windows should be treated in that situation. By sniffing around (I didn't tried personally) Xmonad moves supposed-to-be-sticky windows on monitor where pointer arrives. Maybe FVWM3 can follow that pattern if this kind of desktop configurati

[2020-10-20 21:23] ThomasAdam commented on #260
RIght, OK.  Well I suppose we could imply the current monitor for sticky windows.  Maybe that makes sense.

An easier way of testing this, @NsCDE is to use `spectrwm`--- it's much more compact than herbswm or xmonad, and demonstrates the concept of this desktop idea out of the box.

[2020-10-20 21:56] NsCDE opened #266 "FvwmEvent monitor_* events are not processing their functions correctly."
By using FvwmEvent to Echo some string into fvwm log, I get "-1" instead of that string from the function.
As a base FvwmEvent configuration, NsCDE fvwm3_support branch is used. On this config:

https://github.com/NsCDE/NsCDE/blob/fvwm3_support/NsCDE/config/NsCDE-Event.conf

new config is appended for testing:

[code]

This is the result:

[1603230503.629785] CMD_Echo: EVENT DEBUG MD =============

[2020-10-20 22:03] NsCDE opened #267 "Configuration parsing does not read FvwmPager module config line if prefixed with Test condition."
To reproduce: check out NsCDE fvwm3_support branch.

Make dual monitor setup and observe GlobalPager on both monitors (double click for menu on root window). It will show primary monitor even when called on secondary monitor.

In /opt/NsCDE/config/NsCDE-Pager-GlobalPager.conf replace the line

`Test (EnvMatch FVWM_IS_FVWM3 1) *GlobalPager: Monitor $$[monitor.current]`

with explicit

`*GlobalPager

[2020-10-21 07:48] phileimer commented on #264
I agree with Thomas this issue might be related to the #251 I proposed to fix maximize on monitor 2.
I'll try and have a look at this.

[2020-10-21 19:25] NsCDE commented on #267
Hi @ThomasAdam

932d88a7 Asterisk: expand variables in config lines solves this.

[2020-10-21 19:32] #267 closed

[2020-10-23 13:11] phileimer commented on #264
I tested he latest git version - fvwm3 1.0.1 (1.0.0-48-ge3d35880), and was not able to reproduce this 'maximize gives a small window'.

At a moment, I thought I had reproduced the default, but I think I fell into a normal behavior: I moved a maximized window from monitor 2 to monitor 1, then wanted to maximize it on monitor 1, as my monitor 2 is smaller. This second 'maximize' is then treated as '

[2020-10-23 13:15] ThomasAdam commented on #264
Hi @phileimer

Thanks for checking this.  I've not been able to reproduce this either.  @afhp-2020 -- is there any other bits of information/setup you can detail to us which might help?

@phileimer -- with respect to the move example, that's the correct behaviour at the moment.

[2020-10-23 16:05] MidFavila opened #269 "FvwmButtons Geometry - @g tag positions objects on active monitor instead of globally"
I use the @g tag to position my FvwmButtons panel dynamically, along with arithmetic operations. In 2.6.9 the following string positions it to the right edge of the X screen.

*VerticalPanel: Geometry 136x$[vp.height]-0-0@g

Using a fresh install from source of FVWM2, this works fine; however, using a fresh install of 3 results in the panel and other @g-tagged elements spawning on the active X mon

[2020-10-23 16:22] ThomasAdam commented on #269
Hi @MidFavila,

Yes -- this is because in my infinite wisdom, thought it would be a good idea to assume that anything after the `@` symbol was an actual output name, rater than something relative, such as `g` for global.  Will fix.

[2020-10-23 16:50] MidFavila commented on #269
Awesome, glad to hear that.

[2020-10-23 17:17] ThomasAdam commented on #269
Hi @MidFavila

Please take a look at PR #270 (branch:  `ta/gh-269`) and let me know if it works for you.  Admittedly, I've only really checked it compiles, and done very minimal testing -- so set your expectations accordingly.  :P

[2020-10-23 17:52] MidFavila commented on #269
I've pulled your branch and tested it; the @g tag and friends are fine, now. Thanks for the quick PR.

I did notice some other issues relating to FvwmScript and EwmhStruts, which I can open a new set of reports for, if you'd like.

[2020-10-23 17:54] ThomasAdam commented on #269
Hi @MidFavila

OK, thank you. I'll merge that later. As for your other observations, please open as many issues as you need to.

[2020-10-23 17:55] MidFavila commented on #269
Understood. I'll close this report and open some more.

[2020-10-23 17:55] #269 closed

[2020-10-23 18:01] MidFavila opened #271 "EwmhStruts - Does not affect entirety of X screen, only specific monitor"
When using EwmhStruts in 2.6.9 and early builds of FVWM3, EwmhStruts normally behaves in a "global" manner, affecting the entire X screen. In the latest git pull, however, it only appears to affect one monitor (the leftmost?) in regards to horizontal reservations.

I use a triple-head configuration; DP-0, DP-1, and DP-2, with DP-0 as the leftmost head, 1 in the middle, and 2 on the right. However,

[2020-10-23 18:09] MidFavila opened #272 "FvwmScript - Crashes on input to TextField widget"
In both 2.6.9 and all versions of FVWM3 I have tested, the use of the TextField widget, even when not assigned any function, will result in an immediate hard crash of FVWM, seemingly producing no error logs. This occurs when modifying the contents of the widget, via deletion or insertion with any input device.

Below is a small unfinished script I wrote that was designed to take input and execute

[2020-10-23 18:11] ThomasAdam commented on #272
Hi @MidFavila

Thanks. Is it leaving a corefile behind? If so, could you get a backtrace for me via gdb?

[2020-10-23 18:14] lgsobalvarro commented on #271
You can define a EwmhBaseStruts for each monitor:

EwmhBaseStruts DP-0 foo
EwmhBaseStruts DP-1 foo
EwmhBaseStruts DP-2 0 137 32 0

[2020-10-23 18:16] MidFavila commented on #272
I'm not sure; would you be able tell me where a corefile would have been dumped? I don't see any in my home directory, for what it's worth.

[2020-10-23 18:17] MidFavila commented on #271
Alright, this is my bad, then. I didn't see anything marked in the changelogs; since this is expected behavior and not a bug, I'll close the issue now.

Thanks.

[2020-10-23 18:21] MidFavila commented on #271
After adjusting my configuration file with the suggested syntax, EwmhBaseStruts simply ceases to function at all; if I'm still in error, could you provide a pointer to the relevant section of the manual for myself and others in the future?

[2020-10-23 18:25] lgsobalvarro commented on #271
My bad, I gave you the wrong syntax:

EwmhBaseStruts screen DP-X foo

[2020-10-23 18:29] MidFavila opened #273 "FvwmIconMan - When embedded in FvwmButtons to create taskbar, does not obey global positioning"
In FVWM 2.6.9 and early git pulls of FVWM3, the following string would stretch FvwmIconMan across an entire instance of FvwmButtons; now, it simply does not, preferring instead to place it slightly off-centered to the left.

[2020-10-23 18:36] MidFavila commented on #271
So, upsides and downsides to report. The issue with screen specification and syntax was a me not staying up to date thing; however, the issue with specifying horizontal reservations remains.

Using the following string, I can successfully manipulate boundaries along the top and bottom of my rightmost display; however, horizontal boundaries still fail to apply.

EwmhBaseStruts screen DP-2 0 137 32

[2020-10-24 11:47] ThomasAdam commented on #273
Hi @MidFavila,

Are you saying this only happens when the above `FvwmIconMan` config is swallowed within `FvwmButtons` (in which case, can you share that config as well?), or is the above config enough to reproduce the problem?

[2020-10-24 15:16] MidFavila commented on #273
Admittedly, Thomas, I haven't tested with other configurations; if the above isn't enough to replicate the problem, below is the file used to configure my panel. Should be enough to just read it into an existing config to replicate the problem

[pnlrc.txt](https://github.com/fvwmorg/fvwm3/files/5433066/pnlrc.txt)

[2020-10-24 18:31] ThomasAdam commented on #273
Hi @MidFavila

I get the same results when using fvwm-2.6.9 as I do with fvwm3.  Do you have any other settings which could influence this?  Are you setting `EwmhBaseStruts` anywhere?

[2020-10-24 20:22] ThomasAdam commented on #272
Hi @MidFavila,

Are you sure this isn't because you have:

[code]

Which would send a message to `fvwm` to Quit, hence it looks like a segfault, but is a valid command.

If I change `Do {Quit}` to `Do {Exec xterm}` then I get an xterm appear.

[2020-10-24 20:50] ThomasAdam commented on #271
Hi @MidFavila

Hmm.  So if I set:

[code]

Then what I see (when I use xterm) on both monitors when I maximize them, is a fully-maximized xterm on `Virtual-2`, and a window on `Virtual-1` which is 150 from the right, and 50 from the top.   See the screenshot below.  Am I missing something obvious here?  Note that I do not have `Style * ResizeHintOverride` set which means regardless of having a bot

[2020-10-25 18:07] MidFavila commented on #271
After running over the issue some more on IRC, I'm putting up the details of my XRandR configuration and the FVWM3 debug log, as requested.

[log.txt](https://github.com/fvwmorg/fvwm3/files/5435591/log.txt)
[xrandr_out.txt](https://github.com/fvwmorg/fvwm3/files/5435592/xrandr_out.txt)

[2020-10-25 18:10] MidFavila commented on #272
Okay, yeah, my bad here... I should have triple-checked the documentation. Sorry for wasting your time with this report.

[2020-10-25 18:11] #272 closed

[2020-10-25 18:15] MidFavila commented on #273
The only struts I have in place are 32 pixels on the top of all screens to prevent windows from maximizing on top of the panel, and 137 pixels on the right side of DisplayPort-2 to prevent them from maximizing over my "shelf". Outside of that, I don't think I'm using any other settings that would be relevant... there's no other iconman, for example.

 I've made sure to isolate all of the commands

[2020-10-25 18:17] ThomasAdam commented on #273
Hi @MidFavila

OK.  Thanks.  Could you attach a screenshot here (take one for all of your monitors if you can) so I can see how it's behaving?

[2020-10-25 18:31] MidFavila commented on #273
Of course. I can also provide one for FVWM2 if it would help

![2020-10-25-182948_4000x1600_scrot](https://user-images.githubusercontent.com/62582104/97115728-3873b000-16f0-11eb-97eb-e0584ec9d0a3.png)

[2020-10-26 00:00] ThomasAdam opened #274 "Status: not updating on browser tab switching"
if `Status` is enabled, then it should send the list of information when tabs in browsers are switched between.  This is to more accurately show which tab is focused and hence what the current window title of the browser happens to be.

This will require hooking into `PropertyNotify` events.

[2020-10-26 00:07] #274 closed

[2020-10-26 09:19] afhp-2020 commented on #264
Hi Thomas,

Sorry for the lag, didn't check messages recently.

As I mentioned, this is a pretty stable configuration that worked for months on end before this appeared. I really have no idea.

The only thing I can think of that might remotely be relevant is the atypical screen disposition with the bigger primary is landscape mode and the smaller secondary rotated counter-clockwise to portrait, al

[2020-10-26 09:23] ThomasAdam commented on #264
Hi @afhp-2020

Ah -- thanks for the extra information!  I think you've hit the nail on the head.  If you've got a rotated display, then that might explain things, similar to what's happening in #271.

Can you put the output of `xrandr -q` here, as well as setting `BugOpts DebugRandR On` in your config (or via `Fvwm{Prompt,Console}`, enabling fvwm3 logging (`fvwm3 -v ...` or `pkill -USR2 fvwm3`) an

[2020-10-26 14:35] afhp-2020 commented on #264
`DebugRandR` and `ExplainWindowPlacement` are `on` in the config, I just purged the old log file (was getting huge, I should keep an eye on it...), `USR2`'ed and `Restart`ed.

Here are the new, clean log and the Xrandr output.

[fvwm3-output.log](https://github.com/fvwmorg/fvwm3/files/5439401/fvwm3-output.log)

[xrandr.txt](https://github.com/fvwmorg/fvwm3/files/5439397/xrandr.txt)

[2020-10-27 12:31] sarishinohara opened #279 "Fvwm and UI Design."
![1603800866](https://user-images.githubusercontent.com/37037970/97301613-417f9100-1858-11eb-8485-569d0d7606af.png)

With **FVWM's** Robust features, powerful modules and almost unlimited customization options, it could be the best tool For UI hobbyists to showcase their thoughts and ideas to the world of UI designing.

[2020-10-30 15:39] ThomasAdam commented on #279
Awesome work!  If you have any feature requests, please submit them.  :)

[2020-10-30 15:39] #279 closed

[2020-11-03 11:12] JakeMoe opened #285 "EdgeResistance command not working?"
Using my config from FVWM 2, I have a line "EdgeResistance 0" that doesn't seem to be working on FVWM 3; I can't move the mouse off the edge to the next page.  FvwmPager and keyboard shortcuts using GotoPage let me move to them fine.

[2020-11-03 14:39] ThomasAdam commented on #285
Hi @JakeMoe

Works for me, I think.   Can you attach your config to this issue, please?

[2020-11-04 08:06] JakeMoe commented on #285
Sure thing; it's attached.  I was mainly checking that the option was still valid.  I can do some further testing with a minimal config to see if anything else is interfering.

It's worth noting, I suppose, that I have 3 monitors; one on a laptop, one monitor connected via HDMI, and one via HDMI througha  USB-C dock.  Not sure if that would affect anything, but figured I'd mention it.

[fvwmconfig

[2020-11-04 08:21] JakeMoe commented on #285
I went with a minimum config, and still had the issue.

[code]

FvwmPager also only appears some of the time.  Haven't opened a seperate ticket yet, figuring I'd tackle one issue at a time.  But is there any chance I haven't selected a needed configure/compile option, and the binaries aren't quite right?  I downloaded the code and just ran ./configure and make over it with no options, figuring I'd

[2020-11-04 09:54] pancho-hideboo opened #286 "bson_as_relaxed_extended_json() is not available"
"bson_as_relaxed_extended_json()" is used in "fvwm3-1.0.1/modulesFvwmMFL/FvwmMFL.c".

However "bson_as_relaxed_extended_json()" is not defined in libbson-1.1.5 which I think as most recent version.
https://github.com/mongodb/libbson/releases/download/1.1.5/libbson-1.1.5.tar.gz

I used bson_as_json() instead.
Could be there any problem ?

[2020-11-04 10:21] ThomasAdam commented on #286
Hi @pancho-hideboo

Yep -- you'll need a newer version of `libbson`

[2020-11-04 10:21] #286 closed

[2020-11-04 11:12] pancho-hideboo commented on #286
I can not find out libbson-1.17.2.
I can find libbson-1.9.5 at most.
https://github.com/mongodb/libbson/releases/download/1.9.5/libbson-1.9.5.tar.gz

Where can I get tarball of libbson (>= 1.16.2) ?

[2020-11-04 11:15] ThomasAdam commented on #286
https://github.com/mongodb/mongo-c-driver

[2020-11-08 13:11] JakeMoe commented on #285
Just ran into something odd; I was dragging a window, and I accidentally went off the bottom of the page on to the next page with no resistance.  Not sure if that's helpful or useful, but thought I'd add it here.

[2020-11-18 00:23] djwf opened #287 "Optional dependency SVG development library missing in INSTALL.md"
The SVG development library isn't mentioned in the optional dependencies section in INSTALL.md.

[2020-11-18 00:25] djwf commented on #287
See pull request #288 for trivial patch.

[2020-11-18 01:05] djwf commented on #287
Fixed by ecd21ef

[2020-11-18 01:05] #287 closed

[2020-11-22 18:16] ThomasAdam commented on #285
Hi @JakeMoe,

I haven't yet looked at why `FvwmPager` might not be opening all of the time (perhaps you should generate a separate issue for this?).

But in terms of `EdgeResistance`/`EdgeScroll` -- I think you're missing some values.  I'm using this:

[code]

... and have been playing with getting `EdgeScroll`ing to work across independent monitors.  It's not perfect, but you can compile the code

[2020-11-23 21:44] ThomasAdam commented on #164
Hi @klebertarcisio

I hope you're well.  Just checking to see if you think you'll be able to look at this issue soon?  If not, I'll close this and move this in to the TODO list.

No pressure -- just trying to do some project maintenance.

[2020-11-25 11:04] JakeMoe commented on #285
Thanks for all your help, but unfortunately I no longer have access to the computer I was working on.  I suppose I'll have to close this ticket at this time; when I get a new computer built and FVWM 3 working again, I'll reopen if I still have an issue.

[2020-11-28 21:07] ThomasAdam commented on #285
Hi @JakeMoe

Fair enough.  I'm leaving this here for a little bit, but I'm expecting this bug to be fixed via the `ta/gh-285` branch.

[2020-11-29 00:52] ThomasAdam commented on #234
Hi @lgsobalvarro

Is this issue still a problem?

[2020-11-29 13:59] ThomasAdam opened #294 "FvwmPager: windows tracked incorrectly when moving between monitors"
If `DesktopConfiguration per-monitor` is in use, and `FvwmPager` has been configured to track windows on the monitor to which it is assigned, as in:

[code]

... then when moving windows between screens, it is expected that the window in the pager moves between pagers, and that the window's preview in the pager on the previous monitor isn't shown any more, as it's no longer on that screen.

Curren